<section class="cf w-100 pv3 f6 ph3 ph0-ns">
  <div class="isotope-filter">
    <div class="fl w-50">
      <div class="f5">Identidades</div>
      <ul class="filter identidades pl0 button-group" data-filter-group="identidades">
        <li><a class="active" href="#" data-filter="*">Todes</a></li>
        <li><a href="#" data-filter=".trans">Trans</a></li>
        <li><a href="#" data-filter=".mujer-trans">Mujer trans</a></li>
        <li><a href="#" data-filter=".gay">Gay</a></li>
        <li><a href="#" data-filter=".bisexual">Bisexual</a></li>
        <li><a href="#" data-filter=".pansexual">Pansexual</a></li>
        <li><a href="#" data-filter=".lesbiana">Lesbiana</a></li>
        <li><a href="#" data-filter=".no-binarie">No binarie</a></li>
      </ul>
    </div>
    <div class="fl w-50">
      <div class="f5">Partido Político</div>
      <ul class="filter partido-politico pl0 button-group" data-filter-group="partido-politico">
        <li><a class="active" href="#" data-filter="*">Todos</a></li>
        <li><a href="#" data-filter=".revolucion-democratica">Revolución Democrática</a></li>
        <li><a href="#" data-filter=".independiente">Independiente</a></li>
        <li><a href="#" data-filter=".comunes">Comunes</a></li>
        <li><a href="#" data-filter=".convergencia-social">Convergencia Social</a></li>
        <li><a href="#" data-filter=".partido-de-trabajadores-revolucionarios">Partido de Trabajadores Revolucionarios</a></li>
        <li><a href="#" data-filter=".partido-liberal">Partido Liberal</a></li>
        <li><a href="#" data-filter=".partido-socialista-de-chile">Partido Socialista de Chile</a></li>
      </ul>
    </div>
    <div class="fl w-50">
      <div class="f5">Zona</div>
      <ul class="filter zona pl0 button-group" data-filter-group="zona">
        <li><a class="active" href="#" data-filter="*">Todos</a></li>
        <li><a href="#" data-filter=".norte">Norte</a></li>
        <li><a href="#" data-filter=".centro">Centro</a></li>
        <li><a href="#" data-filter=".sur">Sur</a></li>
        <li><a href="#" data-filter=".austral">Austral</a></li>
      </ul>
    </div>
    
    {{!-- <div class="fl w-50">
      <div class="f5">Resultados</div>
      <ul class="filter resultados pl0 button-group" data-filter-group="resultados">
        <li><a class="active" href="#" data-filter="*">Todes</a></li>
        <li><a href="#" data-filter=".electe">Electes</a></li>
        <li><a href="#" data-filter=".no-electe">No electes</a></li>
      </ul>
    </div> --}}
  </div>
</section>
  <div class="grilla">
    <div class="grilla-vacia light-red dn">
      No se encontraron candidates bajo esos filtros.
    </div>
    {{candidates-ficha
      modelo=model
      id="castillo"
      resultado=""
      categoria="lesbiana"
      tags="revolucion-democratica"
      foto="/imagenes/candidatesChile2021/fotos/camila-castillo.jpg"
      nombre="Camila Castillo"
      identidad="Lesbiana"
      lugar=""
      zona="norte"
      candidatura=""
      candidate-por="Distrito 2, Región de Tarapacá"
      lista="Apruebo Dignidad"
      puesto-en-lista=""
      partido="Revolución Democrática "
      inicio-en-politica="Me ha tocado salir del clóset dos veces. La primera fue con mi familia. La otra fue una salida más “pública”, cuando era directora regional del Instituto Nacional de la Juventud (INJUV). Ahí hice pública mi orientación sexual, pero llevaba muchos años viviendo como lesbiana. Tener ese cargo político y representar a un segmento etario significativo como la juventud hizo que de forma espontánea tuviera que asumir un rol en el activismo de la diversidad, desde mi identidad como lesbiana. Después me sumé colectivamente a las causas de las disidencias sexuales, poniendo a disposición mi profesión como abogada."
      experiencia-politica="<li>Desde adolescente me interesan los temas políticos. Fui parte de la movilización estudiantil, conocida como la Revolución Pingüina.</li>
      <li>De diciembre de 2018 a diciembre de 2020 fui directora regional de Abofem en Tarapacá. Logramos sentencias emblemáticas, como el fallo de la Corte de Apelaciones de Iquique que ordenó modificar el certificado de nacimiento del hijo de una mujer trans que rectificó su nombre y sexo, pasando de tener la calidad de padre a la de madre, reconociendo la Ley de Identidad de Género y extendiéndolos hasta la filiación.</li>
      <li>Fui presidenta del Centro de Estudiantes de Derecho de la Universidad Arturo Prat de Iquique en el año 2011 y posteriormente directora regional del INJUV.</li>
      <li>Colaboro como abogada en la Asamblea de Migrantes y Pro Migrantes de Tarapacá (AMPRO)</li>
      "
      proyectos="<li>Derechos de las mujeres para garantizar una vida libre de violencia.</li>
      <li>Descentralización, porque la nueva carta debe garantizar la autonomía de cada región. Inclusión, garantizando la igualdad y no discriminación para todas las personas. Anticorrupción, pensando en la transparencia y cuidado de los recursos públicos, sancionando duramente los abusos.</li>
      <li>Medio ambiente y sostenibilidad, para asegurar la debida protección de los elementos naturales que permiten la vida.</li>
      <li>Derechos humanos y sociales, para reconocer la vigencia de los tratados internacionales suscritos por Chile y que garantizan contenidos mínimos para asegurar la dignidad de las personas.</li>"
    }}

    {{candidates-ficha
      modelo=model
      id="mella"
      resultado=""
      categoria="lesbiana"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/jeniffer-mella.jpg"
      nombre="Jeniffer Mella"
      identidad="Lesbiana"
      lugar=""
      zona="norte"
      candidatura=""
      candidate-por="Distrito 5, Región de Coquimbo"
      lista="Apruebo Dignidad"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Cuando participaba de reclamaciones estudiantiles en la Universidad de Chile vi en los diarios murales de la Facultad de Derecho un afiche de la Coordinadora Universitaria por la Diversidad Sexual. Eso fue en 2002. Fui a conocerles, ávida de ganas de participar desde las disidencias sexuales. En las reuniones me hablaron de “el Salón de las Preciosas”, un espacio separatista lésbico-feminista que desarrollaba actividades de incidencia, talleres, actividades culturales, conversatorios. Me enamoré de lo revolucionaria que podía llegar a ser mi identidad lésbica feminista siendo activista y decidí sumarme."
      experiencia-politica="<li>Desde el año 2003 he sido activista lésbica y feminista, participando en esa calidad mayoritariamente en espacios separatistas.</li>
      <li>Formé parte en los inicios del grupo político Estudiantes Autónomos en Derecho, que fue creciendo hasta formar partidos políticos progresistas de izquierda. Allí participé de 2003 a 2006, asumiendo durante 2004 como representante de mi generación.</li>
      <li>Mi activismo como lesbiana feminista ha sido en orgánicas como Trabajo y Estudios Lésbicos y el Salón de las Preciosas, Bloque Lésbico, Comité por la No Discriminación, entre otras. También he participado como “lesbiana suelta”.</li>
      <li>Soy abogada con especialización en derechos humanos, mujeres, familias e infancias.</li>
      "
      proyectos="<li>Recuperación del agua como derecho humano y la priorización humana y animal.</li>
      <li>Reconocimiento de la violencia estructural e histórica que hemos sufrido las mujeres.</li>
      <li>La autonomía de nuestros cuerpos, la paridad en todos los niveles, la efectiva justiciabilidad de nuestros derechos.</li>
      <li>Respeto y reconocimiento de las diversidades sexuales y su participación inclusiva.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="figueroa"
      resultado=""
      categoria="bisexual"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/diego-figueroa.jpg"
      nombre="Diego Figueroa"
      identidad="Bisexual"
      lugar=""
      zona="norte"
      candidatura=""
      candidate-por="Distrito 5, Región de Coquimbo"
      lista="Lista del Pueblo - Movimiento Territorial Constituyente"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="En mi infancia identificaba algunas problemáticas que me hacían sentir impotencia, rabia e inseguridades. Ante esa desigualdad, con mi mejor amiga, decidimos participar y expresar nuestra forma de ver las cosas para sentirnos en un mundo donde fuésemos 100% aceptados. Nuestro primer activismo formal fue ambiental, en una organización protectora de animales y colaborando en operativos de esterilización de animales domésticos. Aunque cada día hacíamos activismo, con nuestra forma de vestirnos, de expresarnos, de vivir y sentir."
      experiencia-politica="
      <li>En mi primera carrera profesional, Bioquímica, desde segundo año fui designado delegado para representar a la Pontificia Universidad Católica de Chile (PUC) en la Asociación Nacional de Estudiantes de Bioquímica (ANEB), cargo que asumí durante dos años porque luego fui designado Relacionador Público de la ANEB en la directiva nacional.</li>
      <li>En mi segunda carrera profesional, Biología Marina, fui vicepresidente del Centro de Estudiantes de la carrera y luego asumí el cargo de Secretario General de la Federación de Estudiantes de la Universidad Católica del Norte (FEUCN), donde estuve a cargo de los departamentos de Medioambiente y Cultura. Ahí tuvimos oportunidad de participar en la Confederación de Estudiantes de Chile (CONFECH), donde asumimos la vocería de la zona norte.</li>
      <li>He sido vocero de las ONG’s Defensa Ambiental IV Región y Alianza Humboldt Coquimbo-Atacama. También fui delegado de la UCN en la Red de Estudiantes por la Sustentabilidad - Chile (RESUCh).</li>
      "
      proyectos="Seis pilares fundamentales que debieran sustentar una Constitución para el siglo XXI:
      <li>Derechos humanos: restituir derechos históricamente desatendidos, como el de la salud, educación y vivienda. Reivindicar derechos de comunidades discriminadas, como pueblos originarios, LGBTIQ+ y personas con situación de discapacidad, quienes han luchado por décadas para que el Estado les brinde el espacio que merecen.</li>
      <li>Derecho a la educación: garantizar en Chile un sistema educativo público, gratuito, de excelencia, universal, laico, diverso e incluyente. Que atienda las necesidades de los territorios según sus identidades locales. Una educación que promueva una visión sexual integral, con enfoque de género y que integre sólidamente la cultura y las artes.</li>
      <li>Derecho a la salud: garantizar a todas las personas el mayor nivel posible de bienestar físico, mental, social y espiritual, mediante la estructuración de un sistema de salud único, gratuito y de calidad.</li>
      <li>Derecho a la protección y seguridad social: crear las condiciones necesarias de justicia social, estableciendo un ingreso básico universal y un sistema de seguridad social de carácter único, igualitario, universal y solidario. Es necesario un Estado que distribuya equitativamente las riquezas, que garantice pensiones dignas, sin dejar esto al arbitrio de los privados.</li>
      <li>Derechos ambientales: La Constitución debe garantizar la protección del medio ambiente y los recursos naturales, estableciendo mecanismos efectivos de investigación, prevención, control y restauración de la contaminación ambiental. La naturaleza debe ser considerada como sujeto de derecho, resguardando un desarrollo sostenible. Además, es necesario garantizar el derecho y acceso al agua potable, el uso de tecnologías ambientalmente limpias y de energías alternativas no contaminantes y de bajo impacto, aspirando a una eficiencia energética y propendiendo a la justicia ambiental.</li>
      <li>Derecho a la cultura y las artes: El Estado debe garantizar y promover el derecho, preservación y democratización de la cultura y del patrimonio material e inmaterial, fortaleciendo su acceso público, proporcionando espacios en todo el territorio nacional, fomentando las identidades de los pueblos, y el derecho de acceder y participar en actividades artísticas, culturales, deportivas y recreativas. Asegurando el financiamiento de eventos de difusión pública, donde se resguarden las diversidades culturales que propendan a la felicidad, recreación y al ocio, propiciando el desarrollo integral del ser humano.</li>      
      "
    }}

    {{candidates-ficha
      modelo=model
      id="toledo"
      resultado=""
      categoria="mujer-trans"
      tags="revolucion-democratica"
      foto="/imagenes/candidatesChile2021/fotos/alejandra-toledo.jpg"
      nombre="Alejandra Toledo"
      identidad="Mujer trans"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 6, Región de Valparaíso"
      lista="Apruebo Dignidad"
      puesto-en-lista=""
      partido="Revolución Democrática"
      inicio-en-politica="Tras dos años como presidenta del Centro de Estudiantes de Pedagogía en Inglés (mi carrera profesional) de la Pontificia Universidad Católica de Valparaíso, fui electa a fines del 2017 como Secretaria General de la Federación de Estudiantes, convirtiéndome en la <b>primera dirigenta estudiantil trans de Chile</b>. Luego, junto a amigas fundamos la ONG Fundación Acuarela, una organización porteña que busca crear un movimiento estudiantil y docente a favor de la educación inclusiva de la diversidad sexual y promover los derechos humanos de la comunidad LGBTIQ. Este proceso coincidió con los primeros años de mi transición"
      experiencia-politica="<li>Participé activamente en el movimiento estudiantil entre 2015 y 2018, exigiendo educación pública, no sexista, gratuita y de calidad, además de condiciones laborales dignas para les profesionales de la educación.</li>
      <li>Con Fundación Acuarela participé en jornadas de formación en distintas partes del país sobre educación inclusiva y la importancia de habilitar espacios de aprendizaje seguros con les estudiantes de la diversidad sexual en nuestro sistema educativo.</li>"
      proyectos="
      <li>Promover un Estado anticorrupción, para que sea duramente castigada la corrupción en cargos públicos y consolidar un Estado que trabaje por el bienestar y desarrollo de su ciudadanía.</li>
      <li>Crear un nuevo modelo de desarrollo sustentable, a la altura del siglo XXI, basado en energías limpias y renovables, que nos lleve a la autonomía energética y al buen vivir de los pueblos.</li>
      <li>Garantizar el derecho a la vida libre de violencia, para que no se pierdan más vidas a causa de la acción u omisión del Estado.</li>
      <li>Proteger a la infancia y reconocer constitucionalmente su autonomía progresiva.</li>
      <li>Defender los derechos sexuales y reproductivos, con especial énfasis en el derecho a la identidad, para que nunca más se vuelva a discriminar por el hecho de ser. </li>
      <li>Defender los derechos animales y su reconocimiento como seres sintientes.</li>
      <li>Garantizar la paridad de género, y con ello la perspectiva de género, en todo el actuar del Estado de aquí en adelante.</li>
      <li>Defender el derecho a la educación de calidad, con financiamiento garantizado por parte del Estado, con énfasis en educación sexual integral, educación ecológica y educación emocional.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="valdes"
      resultado=""
      categoria="mujer-trans"
      tags="comunes"
      foto="/imagenes/candidatesChile2021/fotos/constanza-valdez.jpg"
      nombre="Constanza Valdés"
      identidad="Mujer trans"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 7, Región de Valparaíso"
      lista="Apruebo Dignidad"
      puesto-en-lista=""
      partido="Comunes"
      inicio-en-politica="Mi activismo inició por el año 2015, tras egresar de la carrera de Derecho e iniciar mi transición. Me motivó la ausencia de reconocimiento que tenía en ese momento. Mirando atrás, creo que mi motivación principalmente tuvo que ver, en primer lugar, con representatividad, sobre todo porque las personas trans no estábamos en esos espacios de disputa de activismo a nivel legislativo y político; y en segundo lugar, para colaborar en todo lo que se pudiera con toda esa rabia y esas ganas de cambiar las cosas, de cambiar el sistema, que compartía con tantas personas."
      experiencia-politica="
      <li>Trabajé en el ámbito de derechos de personas trans, como asesora de Organizando Trans Diversidades (OTD) para impulsar el proyecto de Ley de Identidad de Género, finalmente aprobado.</li>
      <li>Tuve oportunidad de trabajar como asesora parlamentaria.</li>
      <li>En paralelo, me empecé a involucrar en el activismo desde el feminismo. Soy una mujer feminista, integrante de la Agrupación Lésbica Rompiendo el Silencio y también de Abofem.</li>
      <li>Al ámbito de la política ingresé formalmente en 2017, como vocera del Frente Amplio (coalición política conformada por partidos y movimientos de izquierda), también motivada por la importancia de la representatividad y la voz de los derechos de las personas trans.</li>
      <li>En algún momento me invitaron a ser candidata a diputada, pero lo decliné. Había ingresado poco tiempo antes a la política, y si bien venía del activismo, mi principal preocupación en ese tiempo era la tramitación de la Ley de Identidad de Género, en la que trabajé mucho.</li>
      <li>En 2017 me convertí en la <b>primera mujer trans de Chile en exponer ante la Comisión Interamericana de Derechos Humanos y la Corte Interamericana de DDHH</b> respecto de derechos de las personas trans en Chile y el derecho a la identidad de género respectivamente.</li>
      <li>Mientras trabajé en el Congreso, estuve muy ligada a proyectos de ley en el ámbito de derechos humanos y género. Pude confirmar que quienes hacen las leyes no conocen ni entienden la realidad de la comunidad LGBTIQ+. Esa es particularmente una de las motivaciones más fuertes para entrar a disputar este espacio en el proceso constituyente, además de que las mujeres y sobre todo las mujeres trans, no han estado en la toma de decisiones ni en los espacios políticos de poder. Creo que es una realidad que tenemos que cambiar.</li>
      "
      proyectos="
      <li>Generar transformaciones estructurales para una sociedad que se encuentra en una profunda crisis de representatividad, junto a una crisis de la institucionalidad, a causa de la desigualdad económica, social y política.</li>
      <li>Colocar en el centro de esta sociedad o proyecto de país a los derechos humanos, derechos sociales con perspectiva de género y al medio ambiente. No solamente precisamos la igualdad y no discriminacion de forma sustantiva, sino además la necesidad de establecer que el Estado pueda y deba dictar medidas afirmativas como leyes de inclusión, leyes de cuota y otras acciones que tengan que ver con población históricamente discriminada como la LGBTIQ+.</li>
      <li>Trabajar por el reconocimiento de derechos sexuales y reproductivos, por el derecho a la salud, a la educación, al trabajo, a la vivienda, a la seguridad social, a la identidad.</li>
      <li>Proponemos una refundación del Estado, con una democracia paritaria y mucho más directa, donde al mismo tiempo se puedan asumir las deudas históricas en cuanto a representatividad y participación, y que gran parte del poder político no se concentre en una sola persona, como ocurre ahora.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="echenique"
      resultado=""
      categoria="lesbiana"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/cecilia-echenique.jpg"
      nombre="Cecilia Echeñique"
      identidad="Lesbiana"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 7, Región de Valparaíso"
      lista="Independientes por una Nueva Constitución"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="El contexto político ha sido gravitante en mi vida. Mi padre hizo un primer quiebre con su familia cuando era joven estudiante de colegio y en los trabajos voluntarios se fue a las minas de Lota. Fue parte influyente de la Reforma Agraria, integró el gobierno del presidente Salvador Allende, y en 1974 nos fuimos a vivir México, tras el golpe de Estado. En mi casa la política estaba integrada en todas las conversaciones."
      experiencia-politica="
      <li>Nunca fui militante activa de ningún partido.</li>
      <li>En México participé en grupos de estudio sobre política y en actividades de la comunidad de exiliados apoyando las causas de violación a los derechos humanos. En los 80 volvimos con mi mamá a Chile. Regresé a mi colegio Francisco de Miranda y luego estuve en el Arcis, dos comunidades muy activas políticamente. Yo siempre participaba desde la periferia. Luego volví a México, viví en Tepoztlán y participé de diferentes causas.</li>
      <li>A fin de  2019 regresé a Chile en pleno estallido social. Sentí la necesidad de hacer algo por transformar la tremenda desigualdad que existe en nuestro país. Ese impulso me llevó a postular como candidata por el distrito 7 de Valparaíso Costa, donde resido.</li>
      "
      proyectos="
      <li>El nuevo pacto debe ser  abierto a la complejidad social, inclusivo, que refleje la diversidad de intereses y de realidades de nuestra sociedad actual y que permita erradicar las discriminaciones. Por eso la comunidad LGTBIQ+ debe estar representada entre quienes escribirán este texto.</li>
      <li>La Constitución debe incluir el valor de la dignidad humana, la erradicación de la discriminación en tanto raza, nacionalidad, condición económica o de salud mental o física, pertenencia indígena, género u orientación sexual, y el respeto irrestricto a la diversidad de  todas las personas que habiten en Chile. Estos principios debieran posibilitar normativas que habiliten derechos para la comunidad LGTBIQ+. Además de establecer el derecho constitucional de todos los géneros a una vida libre de violencia.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="donoso"
      resultado=""
      categoria="gay"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/pablo-donoso.jpg"
      nombre="Pablo Donoso"
      identidad="Gay"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 7, Región de Valparaíso"
      lista="La Lista del Pueblo"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Mis inicios en el activismo ambiental fueron en la ciudad de Valdivia. Partí frente a la muerte de cientos de cisnes de cuello negro y la contaminación del humedal donde vivían por una industria de celulosa. Mi activismo por la lucha contra el VIH/SIDA nace en 2018, motivado por  altos índices de nuevos casos, sin que existiera en mi país una política pública que se hiciera cargo."
      experiencia-politica="
      <li>Mi primera experiencia política fue en el colegio, siempre estuve en los centros de alumnos. Luego, en la universidad en temas de defensa de derechos humanos, acceso a la cultura y medio ambiente. Nunca he militado en un partido. Preferí desenvolver mis intereses sociales desde la acción como organización de la sociedad civil, con un discurso político claro, que se ha ido dilucidando más con el tiempo.</li>
      <li>Mi candidatura surge de una petición de dirigentes de organizaciones sociales, ambientales, de pueblos originarios y vecinales de la provincia de San Antonio, producto de mi trabajo de protección del territorio frente a la amenaza de devastación por el Mega Puerto de San Antonio y la actividad inmobiliaria, y apoyada por organizaciones de salud y dirigentes de las comunidades LGBTIQ+ y de la cultura (me dediqué al teatro durante dos años), y organizaciones ambientales de distintos territorios.</li>
      <li>He participado como activista y asesor jurídico en conflictos como Pascua Lama, Alto Maipo, Aguas libres de Rupanco, Huertos José Masa, entre otros, y actualmente en el Movimiento Socio Ambiental Ojos de Mar en la región de Valparaíso.</li>
      <li>He recorrido Chile en trabajo con pueblos originarios, como portadores de una cultura de protección ambiental, lo que también me ha llevado a trabajar en este tema en instancias internacionales como la COP 25 en España y la Cumbre Social por el Clima.</li>
      <li>Cofundé la ONG VIHDA, organización dedicada a la prevención primaria y secundaria de VIH, al acompañamiento en salud mental para personas seropositivas y al abordaje jurídico. Como presidente de la organización he recorrido Chile buscando llegar a lugares de dificil acceso a la salud y la educación. Mi trabajo se ha centrado en poblaciones focalizadas, como pueblos originarios y la comunidad LGBTIQ+.</li>
      <li>He realizado trabajos en Naciones Unidas, como la participación en la elaboración del informe Global Aids Monitoring y las guías MAC y BAC de ONUSIDA.</li>
      <li>Cada inicio en los activismos ha sido emocionante, lleno de expectativas y caminos que me han llevado siempre a lugares impensados, llenos de aprendizaje.</li>
      <li>Soy abogado, magíster en derecho ambiental y diplomado en VIH, salud y derechos humanos.</li>
      "
      proyectos="Además de abordar los principales temas puestos en tabla por la ciudadanía, como salud universal y de calidad, educación pública, gratuita, igualitaria y de calidad en todos los niveles y pensiones dignas:
      <li>Establecer una constitución con enfoque ecológico en su integridad, que consagre los derechos de la naturaleza, el derecho a vivir en un medio ambiente sano y ecológicamente equilibrado, el derecho humano al agua, un Estado plurinacional, una democracia ambiental, la acción climática y la descentralización administrativa y de recursos públicos para un desarrollo local sustentable y mayor autonomía para los territorios.</li>
      <li>Consagrar el derecho humano a la cultura y las artes, desde la visión de su respeto y promoción.</li>
      <li>Consagrar el derecho humano a la no discriminación, de forma tal que toda legislación existente que consagre inequidad de derechos en razón de cualquier condición sea declarada inaplicable y lleve a un nuevo desarrollo legislativo. Esto llevará a proteger en la igualdad de derechos a las comunidades LGBTIQ+, a la equidad de género, al reconocimiento y respeto de la diversidad cultural, entre otras cosas.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="mallea"
      resultado=""
      categoria="no-bianrie"
      tags="convergencia-social"
      foto="/imagenes/candidatesChile2021/fotos/rodrigo-mallea.jpg"
      nombre="Rodrigo Mallea"
      identidad="No binarie"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 9, Región Metropolitana"
      lista="Apruebo Dignidad"
      puesto-en-lista=""
      partido="Convergencia Social"
      inicio-en-politica="Desde muy joven, quizás sin tener muy claros conceptos que reivindico, me enfrenté a una idea de injusticia. En mi colegio denuncié a dos profesores por hostigamiento y acoso sexual en contra de personas cercana. Cuando entré a la universidad en 2012, me dediqué a la territorialización de la lucha estudiantil. Participé en la creación de secretarías ambientales y ecosociales, así como en la vinculación con los movimientos «No Alto Maipo», «Río Puelo» y la Marcha Plurinacional por el Agua.<br>
      En la universidad me di cuenta: era posible ser activista de las disidencias sexuales. Teníamos personajes como Pedro Lemebel e Hija de Perra, a quienes seguía con admiración. Pero los referentes cercanos eran muy escasos, por lo que nunca lo vi como algo tan posible."
      experiencia-politica="En la universidad nos atrevimos a denunciar a un profesor homofóbico, convocando a una movilización en la Facultad de Derecho de la Universidad de Chile. Iniciamos un largo camino para exigir responsabilidad de las instituciones públicas en temas de género, con los protocolos para prevenir violencia de género, oficinas especializadas, mallas curriculares y secretarías de género en todo Chile.<br>
      Durante la revuelta social, el mismo 19 de octubre formamos la Defensoría Jurídica de la Universidad de Chile.
      <li>Ya abogade, se hizo muy presente la necesidad de que la lucha tenía que continuar y en parte, es lo que me motivó a participar del proceso constituyente. Falta mucha disidencia activa y rebelde en los territorios, fuera de las burbujas de la escolarización de la sociedad. La disidencia tiene el tremendo desafío de permearse en los territorios alejados de las comunas del centro de Santiago y salir con fuerza hacia territorios donde la violencia es más cruda, y el Estado más ausente.</li>
      <li>Por eso fundé Disidencias en Red, una organización de activismos disidentes interseccionales, para crear redes de activistas que pudieran levantar las luchas LGBT a un nuevo nivel</li>
      "
      proyectos="
      <li>Por un lado, fortalecimiento robusto del catálogo de derechos: igualdad substantiva y no discriminación (incluyendo a personas viviendo con VIH); reconocimiento de identidades disidentes en su amplio espectro; derechos sociales como salud (sexual y reproductiva, perspectiva integral incluyendo salud mental), educación no sexista y educación sexual integral; trabajo (no discriminación laboral e inclusión de cupos laborales); niñez y adolescencia (sujetes de derechos y autonomía progresiva, problematizar derecho preferente de padres a educar a sus hijes).</li>
      <li>Por otro, un elemento fundamental es la organización del Estado y distribución del poder: creación de defensorías del pueblo para fiscalizar el resguardo de derechos fundamentales; mandato institucional para implementar políticas de acción afirmativa y promoción de igualdad e inclusión; fortalecimiento de instancias comunitarias como forma de construir mejor democracia (poder de decisión popular).</li>
      <li>El eje central es que todes necesitamos el fin de la constitución neoliberal hecha a la medida de unos pocos que hoy tienen el poder. Necesitamos una constitución que cree un Estado social, garante de derechos, democrático y plurinacional.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="schneider"
      resultado=""
      categoria="mujer-trans"
      tags="comunes"
      foto="/imagenes/candidatesChile2021/fotos/emilia-schneider.jpg"
      nombre="Emilia Schneider"
      identidad="Mujer trans"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 10, Región Metropolitana"
      lista="Apruebo Dignidad"
      puesto-en-lista=""
      partido="Comunes"
      inicio-en-politica="Mis primeras experiencias en el activismo son del colegio, de un hito que politizó a parte de mi generación: el movimiento estudiantil que inició en 2006 y culminó en 2011. Lo que vino en los años posteriores, cuando empezamos a hablar de derechos, de política, de un cambio al modelo de educación, de sociedad, de alguna manera marca mi primer acercamiento al activismo feminista. Y especialmente al de las disidencias sexuales, desde el cuestionamiento de por qué en esos grandes momentos de movilización no se discutía con nuestra óptica y no se visibilizaban nuestras perspectivas.<br>
      Ese acercamiento tuvo que ver con politizar lo propio. Entender que las violencias, exclusiones y discriminaciones que vivíamos mis amigas, amigos y amigues, mi madre, y yo misma, no eran cuestiones individuales sino fenómenos estructurales y por lo tanto teníamos que enfrentarlos de manera colectiva, con movilización, con transformación de la sociedad.<br>
      Como estudiante de Derecho de la Universidad de Chile, mis primeras experiencias las tuve en la Secretaría de Sexualidades y Género, peleando por obtener reglamentos y protocolos contra el acoso y el abuso sexual, contra la discriminacion por el reconocimiento del nombre social de les estudiantes trans y también por una educación no sexista. Esa intersección entre el feminismo y las disidencias sexuales y el movimiento estudiantil marcó el inicio de mi activismo y de mi participación política.
      "
      experiencia-politica="
      <li>Por la experiencia en la Secretaría de Sexualidades y Género de mi universidad, donde peleamos una serie de transformaciones institucionales, el 8 de marzo de 2018 me tocó ser vocera de la Coordinadora 8M, para instalar la consigna “Mujeres a la calle contra la precarización de la vida”. Ese año fui vocera en mi universidad del “Mayo feminista por una educacion no sexista”.</li>
      <li>Empecé a aportar para instalar no sólo la discusión en torno al cambio que necesitamos del modelo de educación, por uno que eduque en la no violencia, que tenga perspectiva de género y de diversidades sexuales. Creo ese proceso aportó un montón en la instalación del feminismo en las calles del país, como fuerza y un referente de masas.</li>
      <li>En 2019 asumí como presidenta de la  Federación de Estudiantes de la Universidad de Chile. Desde ahí seguimos aportando sobre todo en el proyecto de Educación Sexual Integral que lamentablemente fue rechazado el año pasado cuando se discutía en el Congreso.</li>
      <li>Ahí me tocó ser parte de la Mesa de Unidad Social, conformada a partir del estallido social, representando a la juventud universitaria en favor de la redacción de una nueva constitución y también para pelear por garantías académicas para las, los y les estudiantes durante la pandemia.</li>
      "
      proyectos="Esta candidatura es colectiva y se sostiene en siete puntos, bastante amplios, pero hay tres que son clave:
      <li>Aportar una perspectiva feminista y desde las disidencias sexuales a todo el proceso constituyente, porque las mujeres y la comunidad LGBTIQ+ no somos solamente un sector de la población. Somos trabajadores, estudiantes, ciudadanes, y si bien queremos incluir temas como los derechos sexuales y reproductivos, el derecho a la identidad, y el derecho a una vida libre de violencia y discriminación, también queremos hablar desde nuestra óptica de todos los temas inherentes al proceso constituyente. Queremos que nuestra perspectiva esté reflejada desde la primera hasta la última hoja de la nueva Constitución. </li>
      <li>En segundo lugar, creemos que es importante construir más y mejor democracia para Chile, incorporando elementos de democracia directa, participativa, deliberativa, paritaria, que no sea comprendida solamente entre hombre y mujeres, sino con las otras identidades. Para tener más y mejor democracia es necesario pensar en la figura del referéndum revocatorio y derogatorio, en la posibilidad de realizar plebiscitos de consulta y pensar mecanismos para la participación directa y vinculante de organizaciones sociales y territoriales en la formulación de políticas públicas y legislación.</li>
      <li>En último lugar, creemos en un cambio de modelo económico, para dejar atrás el modelo neoliberal que está vigente desde la dictadura, lo que implica una serie de transformaciones.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="arancibia"
      resultado=""
      categoria="lesbiana"
      tags="partido-de-trabajadores-revolucionarios"
      foto="/imagenes/candidatesChile2021/fotos/suely-arancibia.jpg"
      nombre="Suely Arancibia"
      identidad="Lesbiana"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 10, Región Metropolitana"
      lista="A darlo vuelta todo. Trabajadoras y trabajadores Revolucionarios"
      puesto-en-lista=""
      partido="Partido de Trabajadores Revolucionarios"
      inicio-en-politica="Soy de la generación de estudiantes secundarios que en el año 2011 salió a pelear por educación gratuita para todas y todos. Desde entonces comencé a participar activamente en política. Lo que me motivó a ser parte de la lucha contra la educación de mercado fue ver que existía un sistema educativo para ricos y otro para pobres, y que lo que nos esperaba a quienes nacimos en poblaciones eran trabajos precarios o endeudarnos para seguir estudiando.<br>
      El 2011 significó un despertar político para muchas y muchos jóvenes. Era común conversar en las tomas de los liceos, cuestionarnos. La religión, el conservadurismo, la moral de la iglesia, el rol que cumplen en la sociedad instituciones como la familia o la policía, las normas que te imponen, el consumo de animales, la criminalización a drogas como la marihuana, el derecho al ocio, la sexualidad, tema tabú. Muchas veces en el colegio te hostigaban y te echaban si eras parte de la diversidad sexual o te vestías no acorde a tu sexo, o te gritaban en la calle por ir de la mano con una mujer.
      "
      experiencia-politica="En 2011, mientras estaba en el liceo, me abrí a la vida política y luego en la universidad seguí organizándome como dirigenta de mi carrera durante tres años (soy estudiante de pedagogía en Historia y Geografía). Además de seguir movilizada por la educación gratuita, también di la pelea por acabar con el subcontrato al interior de la universidad y por una mayor democratización, donde las decisiones no solo fueran tomadas por un rector, sino por la comunidad educativa.<br>
      La lucha por la educación me abrió los ojos para ver que el problema es un sistema que te oprime si eres parte de la diversidad sexual, te explota en trabajos precarios, y te arroja a la miseria o te segrega según dónde naciste y cuánta plata tiene tu familia. Así vi que el problema de la educación también estaba en la salud, la vivienda, el trabajo, las pensiones y los recursos naturales, derechos en manos de empresarios que se llenan los bolsillos a costa del saqueo a nuestras vidas.<br>
      Por esa razón, en 2017 comencé a militar en la agrupación anticapitalista Vencer y en el Partido de Trabajadores Revolucionarios.<br>
      A finales del año pasado con mis compañeres de Vencer y el partido, fuimos parte de la pelea por la reincorporación de once trabajadores despedidos injustificadamente y en medio de una pandemia en la Universidad Metropolitana de Ciencias de la Educación (ex Pedagógico), donde estudio. La reincorporación se logró gracias a la organización de estudiantes y a trabajadores.
      "
      proyectos="
      <li>Acabar con toda la herencia de la dictadura, con el saqueo de los empresarios y conquistar cada una de las demandas por las que hemos salido a luchar.</li>
      <li>Peleamos porque los pacos no reciban ni un peso, ya que esa plata se podría destinar para muchas otras cosas como la salud o enfrentar la pandemia, o en vivienda para quienes han quedado en la calle.</li>
      <li>Peleamos por demandas como educación pública, gratuita, de calidad, laica y no sexista; un sistema nacional público de salud, de calidad y con cobertura universal; por el fin de las AFP y por un sistema de reparto tripartito, solidario y gestionado por trabajadores y jubilados; por salarios y pensiones mínimas sobre los 600.000 pesos acorde al costo de la vida; por la nacionalización de los recursos naturales bajo gestión de sus trabajadores; y la abolición de la policía.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="parada"
      resultado=""
      categoria="gay"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/jaime-parada.jpg"
      nombre="Jaime Parada"
      identidad="Gay"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 10, Región Metropolitana"
      lista="Lista del Apruebo"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="A finales de 2011 decidí que quería cambiar de vida. Estaba dedicado a la academia, porque soy historiador, y en ese minuto estaba haciendo un Doctorado, pero sentía que esa vida no me satisfacía porque no estaba haciendo nada por nadie. Cuando escribí un artículo para la revista The Clinic basado en el intercambio de correos que tuve con un sobrino que me preguntaba sobre el matrimonio igualitario, generó una lectura empática en un público importante que me hizo pensar que había que sacar la voz en un momento de transición, en el que Chile ya comenzaba a tener una apertura real sobre estos temas. Al ver el resultado de eso renuncié a mi carrera y dediqué un año a ser activista. Fue un año muy brutal para mí y para mucha gente. Asesinaron a Daniel Zamudio, y yo, que había entrado a una organización de diversidad sexual simplemente para hacer cosas muy chicas y puntuales, terminé siendo vocero de la familia Zamudio a raíz de lo que pasó. Esa vocería me significó mucha exposición pública, y finalmente pude contribuir a instalar una serie de temas, tal vez el más importante fue el de la discriminación. El resultado de ese brutal asesinato fue la aprobación de la Ley Antidiscriminación unos poquitos meses después, y siempre digo que el mayor efecto de esa ley, mas que jurídico, fue que logramos instalar un concepto que en Chile no estaba sistematizado."
      experiencia-politica="
      <li>Concejal, y el primer hombre abiertamente gay electo en un cargo de elección pública en este país. En ese rol tuve muchos aprendizajes. Lo primero, es que creo que hoy la gente se moviliza en Chile por causas y no por grandes estructuras ideológicas, mucho menos por pertenencia a partidos políticos.</li>
      "
      proyectos="
      <li>Llevar a la nueva Constitución el concepto de discriminación en el sentido amplio.</li>
      <li>La protección de las familias diversas, la protección de las orientaciones sexuales e identidades de género diversas a través de la consagración de principios de derechos humanos inalienables.</li>
      <li>Derecho de los animales, que hoy son tratados y vistos por las industrias como objetos.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="ayarza"
      resultado=""
      categoria="no-binarie bisexual"
      tags="partido-de-trabajadores-revolucionarios"
      foto="/imagenes/candidatesChile2021/fotos/javier-ayarza.jpg"
      nombre="Javier Ayarza"
      identidad="No binarie, bisexual"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 10, Región Metropolitana"
      lista="A darlo vuelta todo. Trabajadoras y trabajadores Revolucionarios"
      puesto-en-lista=""
      partido="Partido de Trabajadores Revolucionarios"
      inicio-en-politica="Mis primeros pasos en el activismo se remontan al año 2001, cuando entré a la Universidad de Chile a estudiar Psicología. Empecé a activar en la Coordinadora Universitaria por la Diversidad Sexual (CUDS). Esa agrupación funcionaba en las antiguas dependencias del Movimiento Por La Diversidad Sexual (MUMS). Junto a ella organizamos varias intervenciones y conversatorios en distintas universidades, sobre todo en varios campus de la Universidad de Chile y también gestionamos el lanzamiento de un libro de poesía de la escritora Atena Rodó."
      experiencia-politica="
      <li>Disidencias en Lucha (organización del Movimiento Socialista de las y los Trabajadores)</li>
      "
      proyectos="
      <li>Luchar contra el binarismo sexo-genérico en la sociedad.</li>
      <li>Educación sexual integral.</li>
      <li>Ley Integral contra la Violencia, con los recursos adecuados para poder cumplirla, con eje en la prevención más que en el castigo.</li>
      <li>Carnet de identidad para personas no binaries e intersex.</li>
      <li>Policlínicos trans que funcionen de manera integrada.</li>
      <li>El cupo laboral y educacional para personas trans.</li>
      <li>Reconocer nuestra existencia y toda la violencia que se ha ejercido sobre nuestras cuerpas disidentes durante todos los gobiernos.</li>
      <li>Un censo donde se incluyan los ítems de identidad de género y orientación sexo-afectiva, porque queremos saber cuántos somos y donde estamos, para así poder tomar mejores decisiones en cuanto a políticas públicas que nos beneficien.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="cumplido"
      resultado=""
      categoria="lesbiana"
      tags="partido-liberal"
      foto="/imagenes/candidatesChile2021/fotos/maria-jose-cumplido.jpg"
      nombre="María José Cumplido"
      identidad="Lesbiana"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 11, Región Metropolitana"
      lista="Lista del Apruebo"
      puesto-en-lista=""
      partido="Partido Liberal"
      inicio-en-politica="Mis inicios fueron en la universidad, cuando se empezaba a conformar, tímidamente, un grupo para visibilizar a la diversidad sexual. Me motivó crear una plataforma de referencia que permitiera que otros se sintieran acompañados y pudieran vivir su orientación sexual con menos tabúes que como se hacía hasta entonces. Los seres humanos no somos nada sin una comunidad que nos proteja."
      experiencia-politica="
      <li>Pasar de un Estado subsidiario a un Estado que garantice derechos sociales y que permitan que las personas tengan una real oportunidad de elegir y construir sus distintos proyectos de vida.</li>"
      proyectos="
      <li>Democratización y justo equilibrio de nuestras instituciones. Es fundamental abandonar el hiperpresidencialismo y transitar a otras fórmulas que le den más atribuciones al Congreso y permitan la gobernabilidad.</li>
      <li>Participación ciudadana vinculante será fundamental para construir una sociedad acorde a las necesidades del siglo XXI. Elementos como los cabildos vinculantes, la iniciativa ciudadana de ley, van a ser temas que sí o sí deben ser discutidos y no solamente para el período post Constitución, sino también como parte fundamental del proceso de la convención.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="pi"
      resultado=""
      categoria="gay"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/juan-enrique-pi.jpg"
      nombre="Juan Enrique Pi"
      identidad="Gay"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 11, Región Metropolitana"
      lista="Lista del Apruebo"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Mis inicios en el activismo fueron en Fundación Iguales en 2012. Había egresado de la universidad hace unos años, y por tanto, había dejado la dirigencia estudiantil en la que había participado desde mi primer año universitario. Fue en esos años que las demandas de la comunidad LGBTI comenzaron a tomarse la agenda. Después llegué a presidir la organización."
      experiencia-politica="
      <li>Dirigente estudiantil en la Escuela de Derecho de la Universidad de Chile.</li>
      <li>Militancia en el el partido Democracia Cristiana, donde fundé, junto a otras personas, la primera comisión de diversidad sexual en un partido chileno. Hasta el día de hoy esa comisión sigue funcionando, y asesora a parlamentarios, alcaldes, concejales, gobernadores, etc, respecto de materias de diversidad sexual y de género.</li>
      <li>Militancia en la sociedad civil, ya sea desde la dirigencia estudiantil o desde las organizaciones LGBTI.</li>
      "
      proyectos="
      <li>Defensa de las libertades civiles. Que la Constitución establezca un límite al Estado respecto de la vida privada de las personas, entendiendo que somos nosotros y nosotras quienes decidimos respecto de nuestros cuerpos, nuestras familias, nuestras decisiones de vida.</li>
      <li>Un Estado proactivo, que tome la iniciativa. Que el Estado esté mandatado para identificar las brechas que en el ejercicio de sus derechos encuentran las personas, los territorios, los grupos históricamente discriminados y excluidos, para que así pueda desarrollar las políticas públicas que efectivamente permitan acceder a los derechos de manera más justa, digna e igualitaria.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="rothfeld"
      resultado=""
      categoria="lesbiana"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/iona-rothfeld.jpg"
      nombre="Iona Rothfeld"
      identidad="Lesbiana"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 12, Región Metropolitana"
      lista="Lista del Apruebo"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Soy futbolista, ex seleccionada nacional y actualmente jugadora de Audax Italiano, y además soy titulada en Ciencias Políticas y activista por la equidad de género. Entonces depende de cómo definamos activismo: porque en lo personal siento que como mujer, el estar parada en una cancha de fútbol ya es una declaración política, al estar ocupando un lugar que históricamente no nos han querido dar. Entrar a realizar activismo para mí nace desde ahí, desde la motivación de saber que eres parte de algo más grande, que tienes herramientas y una plataforma con potencial de impactar positivamente a la sociedad."
      experiencia-politica="
      <li>Hasta el día de hoy yo me defino como futbolista, es desde aquí que trabajo, activo y espero ser parte de los cambios que queremos ver en la sociedad y el mundo. Jamás he militado en un partido político, ni adhiero a la forma en que se maneja la política partidista. Creo que la crisis política que vivimos en Chile hoy en día es consecuencia de eso, y como ciudadanía hemos observado y sido testigos de una política que pareciera estar más preocupada de enlodar a “la contra” antes que de sus propios proyectos y lineamientos.</li>
      "
      proyectos="
      <li>Revisar y reescribir artículo por artículo de la Constitución.</li>
      <li>Resguardar y garantizar la equidad de género, el reconocimiento y protección de derechos sociales y civiles.</li>
      <li>Consagrar el deporte con derecho constitucional y como piedra fundamental para atender las necesidades sociales y su relación con otros derechos como la educación, salud y cultura.</li>
      <li>Asegurar mecanismos de representación y participación ciudadana directa que fortalezcan nuestra democracia.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="esperguel"
      resultado=""
      categoria="trans no-binarie"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/edgar-esperguel.jpg"
      nombre="Edgar Esperguel"
      identidad="Trans no binarie"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 12, Región Metropolitana"
      lista="Voces Constituyentes"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Mis inicios del activismo se dieron a muy corta edad, a los 13, 14 años. En primer lugar empecé a reconocerme como una persona, en ese entonces homosexual, y poder defender mi orientación sexual. Recuerdo que fue un acto liberador y motivador. Comencé a informarme e informar a mis amigues y cercanes respecto de la diversidad sexual y de género. A los 18 años ingresé a una organización llamada YoAcepto, la cual está dentro de la Asociación de Guías y Scout de Chile. Actualmente nos encontramos realizando charlas, capacitaciones y talleres acerca de la diversidad sexual y de género."
      experiencia-politica="
      <li>Mi experiencia política ha sido desde el apartidismo y en manifestaciones sociales. Desde esta perspectiva, mi participación en el proceso aporta una mirada nueva y refrescante a las instancias políticas vinculantes: una persona joven, disidente sexual y de género, defensore de los derechos de los animales, que busca la redacción de una Constitución con perspectiva disidentes y de género.</li>
      "
      proyectos="
      <li>Una Constitución con una perspectiva de género y disidente.</li>
      <li>Una Constitución que reconozca un Estado social, en contraposición al Estado subsidiario que existe en Chile; esto quiere decir, un Estado que se haga cargo de los derechos sociales que las personas merecen.</li>
      <li>Una Constitución que incluya una democracia directa y participativa: referendos revocatorios, consultas locales y vinculantes, e iniciativa populares de leyes.</li>
      <li>Dejar de lado todo el antropocentrismo y especismo en los procesos políticos.</li>
      <li>Reconocer derechos fundamentales a los animales no humanos, no para transitar hacia una república vegana, sino que para asegurar un piso mínimo de dignidad que hoy en día no tenemos para elles en su totalidad.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="gonzalez"
      resultado=""
      categoria="lesbiana"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/mariana-gonzalez.jpg"
      nombre="Mariana González"
      identidad="Lesbiana"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 13, Región Metropolitana"
      lista="Independientes Sin Padrinos"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="No considero tener una carrera como activista muy larga. Siempre he estado presente en las luchas, pero como una persona más, sin destacar dentro de los colectivos, más que nada asistiendo a las protestas y marchas."
      experiencia-politica="
      <li>Protestas populares, las marchas, pero sobre todo, al movimiento estudiantil desde la Revolución Pingüina. Cuando esta comenzó yo estaba en séptimo básico y al estar en un colegio emblemático, mi formación política se dió en ese contexto, aprendiendo a exigir nuestros derechos y los de los demás, buscando la igualdad para todes.</li>
      <li>Mi motivación para ser constituyente radica en la necesidad de representación de la comunidad LGBTIQ+. Cómo parte de las disidencias, y como Historiadora, creo que no podemos restarnos de este proceso, y que la nueva Constitución debe incluir las voces de todes.</li>
      "
      proyectos="
      <li>El pilar de la nueva Constitución debe ser la igualdad de derechos y el respeto de la diversidad en todos los sentidos.</li>
      <li>Nuestra carta magna debe incluir en sus bases el principio de no discriminación, para que nadie pueda ser excluido por ningún motivo arbitrario, tales como su identidad de género, orientación sexual, condición socioeconómica, lugar de procedencia, capacidades, entre otras.</li>
      <li>Una salud gratuita, oportuna y de calidad, una educación bajo los mismos parámetros, un ambiente sano, libre de contaminación y explotación, la protección de la flora y fauna, los recursos naturales, entre otros.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="musante"
      resultado=""
      categoria="pansexual"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/camila-musante.jpg"
      nombre="Camila Musante"
      identidad="Pansexual"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 14, Región Metropolitana"
      lista="Apruebo Dignidad"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Todo comenzó con el estallido social, desde los activismos ambientales, feministas y disidentes. Fui parte del frente de disidencias sexuales y de género del Movimiento Político Fuerza Común. Actualmente soy parte de la plataforma Voto Disidente y de la comisión LGBTIQA+ de la Asociación de Abogadas Feministas de Chile. Mi principal motivación fue ver cómo mi hermano (también perteneciente a las disidencias) sufrió de bullying a causa de su orientación sexual durante su adolescencia."
      experiencia-politica="
      <li>“Desde 2019 me incorporé al equipo jurídico de apoyo de la Comisión Chilena de Derechos Humanos, para poner al servicio mi profesión (soy abogada), visitar y hacer turnos en las comisarías por lxs presxs de la revuelta.</li>
      <li>El 3 de febrero del 2020 presentamos un recurso para que las organizaciones sociales tuvieran tiempo en la franja televisiva del plebiscito, el cual alegué ante el Tribunal Calificador de Elecciones y ganamos el recurso interpuesto contra el Consejo Nacional de Televisión. Este vínculo con la coordinadora de organizaciones lo mantengo hasta el día de hoy.</li>
      <li>A principios de marzo de 2020 me incorporé al movimiento político Fuerza Común.</li>
      <li>Fui coordinadora del Frente Feminista, fundadora del Frente de Medio Ambiente y actual coordinadora e integrante del Frente de Disidencias Sexuales y de Género.</li>
      "
      proyectos="En materia de derechos para la población LGBTIQA+:
      <li>Derecho a una vida libre de violencia.</li>
      <li>Reconocimiento de las disidencias sexuales y de género como parte de la diversidad de nuestro país; el derecho a la identidad de género.</li>
      <li>Reconocimiento de los diversos tipos de familias, pensando en la privación de derechos que tienen las familias homoparentales en relación a las familias constituidas bajo la heteronorma.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="cordescu"
      resultado=""
      categoria="gay"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/iancu-cordescu.jpg"
      nombre="Iancu Cordescu"
      identidad="Gay"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 16, Región O'Higgins"
      lista="Corrientes Independientes"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Desarrollé mi activismo desde 2006 en la secundaria cuando fui dirigente estudiantil durante la Revolución Pingüina, y luego, en la universitaria para 2010 y 2011. Pero creo que realmente comencé mi activismo unos años más tarde. En 2013 le escribí a la activista argentina Mariana Iacono, a quien había conocido unos años antes por otro dirigente estudiantil, y le conté que era VIH positivo. Dos semanas después estaba entrando a la Red Latinoamericana y del Caribe Hispano de Adolescentes y Jóvenes Positivos, que ella había fundado un año atrás. Para fines de 2016 constituimos con un par de amigos la Fundación Chile Positivo para continuar con el activismo del VIH y los derechos sexuales y reproductivos en Chile."
      experiencia-politica="
      <li>En 2006 fui presidente de mi Centro de Estudiantes en el colegio.</li>
      <li>En 2010 era presidente de la Federación de mi Universidad y continué mi actividad política hasta 2012.</li>
      <li>Como director de la Fundación Chile Positivo trabajé en comisiones investigadoras en la Cámara de Diputados y daba seguimiento legislativo a algunos proyectos de ley.</li>
      <li>Participé en la Conferencia Regional sobre Población y Desarrollo de la Cepal.</li>
      <li>Presidencia del Consejo de la Sociedad Civil del Instituto Nacional de la Juventud.</li>
      <li>En 2020 fui nombrado por la Coordinadora Residente de las Naciones Unidas en Chile como embajador joven.</li>
      "
      proyectos="
      <li>Un Estado Plurinacional y social de derecho, que instaure la autonomía de los territorios y su gente, que respete, asegure, garantice y promueva el ejercicio permanente de los derechos humanos a través de los derechos sociales.</li>
      <li>Una Constitución que consagre nuestros derechos sexuales y reproductivos plenos y la igualdad de género.</li>
      <li>Que declare la protección y conservación de la biodiversidad, donde el agua esté al servicio de las personas y la naturaleza, y un sistema productivo que esté en equilibrio con el ambiente.</li>
      <li>Participación ciudadana. Que la solidaridad no sea solo un eslogan, sino un principio de acción política y social.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="huerta"
      resultado=""
      categoria="gay"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/dagoberto-huerta.jpg"
      nombre="Dagoberto Huerta"
      identidad="Gay"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 16, O'Higgins"
      lista="Sexta Unida"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Empecé a participar de distintas organizaciones inclusivas cuando me quedé sordo, hace ocho años. En Chile estamos muy en desventaja en varios o todos los aspectos de la accesibilidad universal, con nuestros derechos marginados, por lo que esta nueva Constitución es fundamental para defender los derechos humanos de cada uno de los ciudadanos de nuestro país."
      experiencia-politica="No tengo experiencia previa, pero principalmente decidí ser constituyente porque creo firmemente que esta nueva Constitución debe defender los derechos humanos, siendo estos un pilar fundamental para el desarrollo digno de cada uno de los ciudadanos de nuestro país. Sueño con que podamos lograr ser un país más inclusivo, con mayor igualdad para cada una de las personas que vivimos en una situación de discapacidad, donde se nos garantice el derecho a la educación, la salud y nuestro desarrollo socio-cultural bajo la accesibilidad universal."
      proyectos="
      <li>Artes y cultura, diversidad e inclusión.</li>
      <li>Esta nueva cultura debe estar basada en la dignidad del individuo y la promoción de la organización de los territorios, como soberanos del poder originario y máxima expresión de la vida social, integral y democrática.</li>
      <li>Un lenguaje creativo y democrático que genere aquella transformación que permita avanzar en identidad y pertenencia en este nuevo Chile.</li>
      <li>Entregar la voz a minorías excluidas, ya sea sexuales, étnicas, económicas, raciales, demográficas y culturales, con un nuevo pacto que tenga como máxima la más profunda diversidad; una constitución pluricultural, multidireccional, donde el conjunto de la comunidad, sea social diverso e inclusivo.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="adams"
      resultado=""
      categoria="lesbiana"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/eliana-adams.jpg"
      nombre="Eliana Adams"
      identidad="Lesbiana"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 17, Región del Maule"
      lista="Apruebo Dignidad"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="En mi adolescencia, cuando me reconocí lesbiana, sufrí el rechazo de mi familia (es cristiana evangélica). Me expulsaron de dos colegios por ser lesbiana y me vi envuelta en una terapia de conversión a la heterosexualidad durante casi cinco años en la iglesia “Fuente de Vida Para las Naciones” de la comuna de San Javier. Logré salir de ahí, porque entendí que no podía cambiar y que no había nada que cambiar. Ser lesbiana no era ni es un pecado, no está mal, es sólo otra forma de amar y ser feliz. Todas estas injusticias, esta discriminación y la tortura que viví en esa “terapia” me llevaron a levantar y defender mis banderas."
      experiencia-politica="
      <li>Primera presidenta de la Federación de Estudiantes de la Universidad de Talca visiblemente lesbiana.</li>
      <li>En 2018 fui vocera y parte de la mesa negociadora de la Toma Feminista en mi universidad: creamos el primer protocolo contra la violencia de género y el acoso sexual en nuestra casa de estudios.</li>
      <li>Organización del primer cabildo ciudadano en Talca en 2019.</li>
      "
      proyectos="
      <li>Poner de relieve los grandes problemas políticos que han afectado el bienestar de los y las maulinas y que pasan por la Constitución.</li>
      <li>Un Estado profundamente descentralizado y que reconozca la autonomía territorial.</li>
      <li>Una Constitución feminista y disidente.</li>
      <li>Una Constitución que proteja la naturaleza y garantice un medioambiente sano.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="hernandez"
      resultado=""
      categoria="gay"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/luis-hernandez.jpg"
      nombre="Luis Hernández"
      identidad="Gay"
      lugar=""
      zona="centro"
      candidatura=""
      candidate-por="Distrito 17, Región del Maule"
      lista="La Lista del Pueblo"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Soy profesor y mis inicios en el activismo fueron siempre dentro de un contexto educativo formal, educando transversalmente en el respeto a las preferencias de una persona que no piensa ni siente como otra."
      experiencia-politica="No tengo experiencia política, pero el hecho de querer participar de un evento histórico para lograr cambiar el país, luego de las injusticias que viví  en razón de mi orientación sexual, hacen que sea prácticamente obligatorio mi deseo de aportar algo a la discusión política del país."
      proyectos="
      <li>Fortalecimiento de las regiones, para establecer una opción descentralizadora y regionalista.</li>
      <li>Foco en el Estado y mercado, para el fortalecimiento de la productividad, mucho más allá de la tradicional explotación de recursos naturales.</li>
      <li>Siempre considero integrar a la comunidad LGBTIQ+.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="rodriguez"
      resultado=""
      categoria="gay"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/pablo-rodriguez.jpg"
      nombre="Pablo Rodríguez"
      identidad="Gay"
      lugar=""
      zona="sur"
      candidatura=""
      candidate-por="Distrito 20, Región del Biobío"
      lista="Independientes del Biobío por una nueva Constitución"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Mis inicios en el activismo social se remontan a mis 12 años de edad, cuando participé de CEVAS, un centro cultural en la localidad de Penco, en la región del Biobío, ayudando a realizar actividades para niños y niñas en riesgo social de comunidades vulnerables. Lo que me motivó a ser parte de este centro fue el percatarme que existían niños y niñas de mi edad, e incluso menores, que no tenían las mismas condiciones o calidad de vida que yo, y que debían crecer en un entorno precario, violento y sin protección del Estado. A los 14 años asumí la presidencia de este centro cultural, donde Eso significó el comienzo de mi oficio de dirigente social, trabajo que desarrollo hasta el día de hoy."
      experiencia-politica="
      <li>Organización de Formadores de Organizaciones Juveniles de Consumidores y Consumidoras, que protege, promueve y educa en torno a los derechos de las personas en la economía, principalmente frente a los abusos o infracciones de las empresas.</li>
      "
      proyectos="
      <li>Reconocimiento, promoción y protección de los derechos humanos, reconocidos por los tratados internacionales; reconocimiento de los pueblos originarios, de la interculturalidad y de las diversidades culturales y sexuales que conviven en nuestro país.</li>
      <li>Construcción de una Constitución económica que tenga como eje el bienestar y respeto de los derechos fundamentales de las personas; y la inclusión de un principio de solidaridad y benefactor frente a la iniciativa económica y al desarrollo social y económico de la sociedad.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="dominguez"
      resultado=""
      categoria="gay"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/gaspar-dominguez.jpg"
      nombre="Gaspar Domínguez"
      identidad="Gay"
      lugar=""
      zona="sur"
      candidatura=""
      candidate-por="Distrito 26, Región de Los Lagos"
      lista="Independientes No Neutrales"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Como estudiante participé en un movimiento que llamamos Diversidad Uchile. Estas actividades se centraron en visibilizar la existencia de la diversidad sexual, explicitando una realidad que sentíamos se omitía del escenario político."
      experiencia-politica="
      <li>Médico rural durante seis años en zonas aisladas y rurales de la Región de Los Lagos, en el sur de Chile, siendo abiertamente homosexual.</li>
      <li>He liderado proyectos innovadores como la realización de talleres de educación sexual con enfoque de género y diversidad en las escuelas de la provincia de Palena.</li>
      "
      proyectos="
      <li>Una Constitución que garantice la igualdad sustantiva de todos los individuos independiente de su sexo, identidad de género u orientación sexual. Mis otras áreas de trabajo son la descentralización.</li>
      <li>Participación ciudadana a través de democracia directa, y la implementación de un sistema de seguridad social en salud universal, solidario y único.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="maldonado"
      resultado=""
      categoria="gay"
      tags="independiente"
      foto="/imagenes/candidatesChile2021/fotos/miguel-angel-maldonado.jpg"
      nombre="Miguel Ángel Maldonado"
      identidad="Gay"
      lugar=""
      zona="sur"
      candidatura=""
      candidate-por="Distrito 26, Región de Los Lagos"
      lista="Insulares e Independientes"
      puesto-en-lista=""
      partido="Independiente"
      inicio-en-politica="Hace 15 años comencé a vincularme en espacios relacionados a la promoción de derechos sexuales y reproductivos y la prevención del VIH/SIDA. En el año 2011 conformamos una organización territorial llamada Movimiento Organizado de Gays, Lesbianas, Trans y Heterosexuales (MOGALETH) con el fin de dar visibilidad a estas demandas locales que no eran cubiertas. Esto nos situó como una organización en la defensa de derechos de la comunidad LGBT en la región de Los Lagos."
      experiencia-politica="No tengo experiencia política, pero me he desenvuelto desde la sociedad civil organizada para incidir en los espacios institucionales, con presencia en las asambleas territoriales en la defensa de los derechos humanos. Desde la revuelta del 2019 en nuestro país, esto se convirtió en un gran espacio de colaboración entre organizaciones con diversas luchas."
      proyectos="Cuatro ideas fuerza:
      <li>Igualdad y no discriminación, porque todas las personas, independiente de su etnia, género, orientación sexual, estrato social, condición física, cognitiva o mental debe tener garantizada el acceso a la educación, la salud, a la justicia.</li>
      <li>Memoria, identidad y reparación, hacia quienes nos preceden en las luchas y que la historia ha omitido.</li>
      <li>Custodia del Estado, especialmente de los espacios donde las personas quedan sujetas al cuidado de funcionarios públicos, como hospitales, hogares, penitenciarías, comisarías o recintos militares.</li>
      <li>Protección del medio ambiente y la biodiversidad, pues de ellos depende el funcionamiento y equilibrio del ecosistema.</li>
      "
    }}

    {{candidates-ficha
      modelo=model
      id="laibe"
      resultado=""
      categoria=""
      tags="partido-socialista-de-chile"
      foto="/imagenes/candidatesChile2021/fotos/tomas-laibe.jpg"
      nombre="Tomás Laibe"
      identidad=""
      lugar=""
      zona="austral"
      candidatura=""
      candidate-por="Distrito 27, Región de Aysén"
      lista="Lista del Apruebo"
      puesto-en-lista=""
      partido="Partido Socialista de Chile"
      inicio-en-politica="Fui voluntario de la Fundación Iguales cuando ésta recién se formaba en el año 2011, al alero de las multitudinarias marchas por los derechos LGBTIQ+ de esos días. Como generación de activistas también fuimos marcados por el horrible asesinato de Daniel Zamudio en 2012, lo que sin duda despertó la indignación del país y visibilizó las demandas por inclusión. En 2013 realicé mi investigación de tesis en Políticas Públicas, y me centré en analizar el proceso de discusión y aprobación de la ley Ley 20.609, mejor conocida como Ley Antidiscriminación o Ley Zamudio."
      experiencia-politica="
      <li>Presidente de la Juventud Socialista en la comuna de Ñuñoa, donde estudié y trabajé, antes de regresar a Aysén.</li>
      <li>Grupo transversal de militantes e independientes, el comando Puerto Aysén Aprueba, para trabajar por dicha opción en el plebiscito constitucional de octubre de 2020.</li>
      "
      proyectos="
      <li>Estado social y derechos sociales garantizados.</li>
      <li>Descentralización y más poder para las regiones.</li>
      <li>Protección del medioambiente y desarrollo sostenible.</li>
      <li>Participación y fortalecimiento de la democracia.</li>
      <li>Reconocimiento constitucional de los pueblos indígenas.</li>
      <li>Un Estado plurinacional.</li>
      <li>Consagración de los derechos reproductivos y sexuales.</li>
      <li>Protección de la infancia y derechos de niños, niñas y adolescentes.</li>
      <li>Derechos de los animales y deber de protección del Estado sobre los mismos.</li>
      "
    }}    
  </div>
