<section class="cf w-100 pv3 f6 ph3 ph0-ns">
  <div class="isotope-filter">
    <div class="fl w-50">
      <div class="f5">Identidades</div>
      <ul class="filter identidades pl0 button-group" data-filter-group="identidades">
        <li><a class="active" href="#" data-filter="*">Todes</a></li>
        <li><a href="#" data-filter=".gay">Gay</a></li>
        <li><a href="#" data-filter=".lesbiana">Lesbiana</a></li>
        <li><a href="#" data-filter=".nb">No binarie</a></li>
        <li><a href="#" data-filter=".trans">Trans</a></li>
        <li><a href="#" data-filter=".travesti">Travesti</a></li>
      </ul>
    </div>
    <div class="fl w-50">
      <div class="f5">Partido Político</div>
      <ul class="filter partido-politico pl0 button-group" data-filter-group="partido-politico">
        <li><a class="active" href="#" data-filter="*">Todos</a></li>
        <li><a href="#" data-filter=".frente-amplio">Frente Amplio Por La Soberanía</a></li>
        <li><a href="#" data-filter=".mst">MST</a></li>
        <li><a href="#" data-filter=".po-fit-union">Partido del Obrero (FIT)</a></li>
        <li><a href="#" data-filter=".partido-socialista-en-hacemos-por-nuestro-pais">Partido Socialista en Hacemos por nuestro país</a></li>
        <li><a href="#" data-filter=".union-por-la-patria">Unión por la Patria</a></li>
        <li><a href="#" data-filter=".vamos-con-todos">Vamos con Todos</a></li>
      </ul>
    </div>
    
    {{!-- <div class="fl w-50">
      <div class="f5">Resultados</div>
      <ul class="filter resultados pl0 button-group" data-filter-group="resultados">
        <li><a class="active" href="#" data-filter="*">Todes</a></li>
        <li><a href="#" data-filter=".electe">Electes</a></li>
        <li><a href="#" data-filter=".no-electe">No electes</a></li>
      </ul>
    </div> --}}
  </div>
</section>
  <div class="grilla">
    <div class="grilla-vacia light-red dn">
      No se encontraron candidates bajo esos filtros.
    </div>
    {{candidates-ficha
      modelo=model
      nombre="Reina Ornella Infante"
      id="infante"
      categoria="trans"
      resultado="electe"
      tags="vamos-con-todos"
      foto="/imagenes/candidates2023/fotos/ornella-infante.jpg"
      link="https://agenciapresentes.org/candidates/elecciones-2023-candidatxs-lgbt-ornella-infante-la-activista-trans-que-quiere-ser-legisladora-de-rio-negro/"
    }}
    {{candidates-ficha
      modelo=model
      nombre="Maximiliano Serrano"
      id="serrano"
      categoria="gay"
      resultado="electe"
      tags="frente-amplio"
      foto="/imagenes/candidates2023/fotos/maximiliano-serrano.jpg"
      link="https://agenciapresentes.org/candidates/elecciones-2023-candidatxs-lgbt-maximiliano-serrano-quiere-debatir-sobre-diversidad-en-el-congreso/"
    }}
    {{candidates-ficha
      modelo=model
      nombre="Fernanda Janeth Ramos"
      id="ramos"
      categoria="trans"
      resultado="electe"
      tags="union-por-la-patria"
      foto="/imagenes/candidates2023/fotos/fernanda-janeth-ramos.jpg"
      link="https://agenciapresentes.org/candidates/elecciones-2023-candidatxs-lgbt-fernanda-janeth-ramos-y-el-impulso-del-colectivo-trans-a-diputados/"
    }}
    {{candidates-ficha
      modelo=model
      nombre="Esteban Paulon"
      id="paulon"
      categoria="gay"
      resultado="electe"
      tags="partido-socialista-en-hacemos-por-nuestro-pais"
      foto="/imagenes/candidates2023/fotos/esteban-paulon.jpg"
      link="https://agenciapresentes.org/candidates/elecciones-2023-candidatxs-lgbt-esteban-paulon-un-paso-mas-en-la-militancia-por-la-diversidad/"
    }}
    {{candidates-ficha
      modelo=model
      nombre="Keili Regina González"
      id="gonzalez"
      categoria="trans"
      resultado="electe"
      tags="mst"
      foto="/imagenes/candidates2023/fotos/keili-gonzalez.jpg"
      link="https://agenciapresentes.org/candidates/elecciones-2023-candidatxs-lgbt-keili-gonzalez-se-postula-para-concejal/"
    }}
    {{candidates-ficha
      modelo=model
      nombre="Jazmin Kinder"
      id="kinder"
      categoria="travesti nb"
      resultado="electe"
      tags=".po-fit-union"
      foto="/imagenes/candidates2023/fotos/jazmin-kinder.jpg"
      link="https://agenciapresentes.org/candidates/elecciones-2023-candidatxs-lgbt-jazmin-kinder-la-militancia-por-una-salud-diversa-en-misiones/"
    }}

  </div>
