<section class="cf w-100 pv3 f6 ph3 ph0-ns">
  <div class="isotope-filter">
    <div class="f5">Identidades</div>
    <ul class="filter identidades pl0 button-group" data-filter-group="identidades">
      <li><a class="active" href="#" data-filter="*">Todes</a></li>
      <li><a href="#" data-filter=".trans">Trans</a></li>
      <li><a href="#" data-filter=".gays">Gay</a></li>
      <li><a href="#" data-filter=".bisexual">Bisexual</a></li>
      <li><a href="#" data-filter=".lesbiana">Lesbiana</a></li>
      <li><a href="#" data-filter=".no-binarie">No binarie</a></li>
    </ul>
    <div class="f5">Partido Político</div>
    <ul class="filter partido-politico pl0 button-group" data-filter-group="partido-politico">
      <li><a class="active" href="#" data-filter="*">Todos</a></li>
      <li><a href="#" data-filter=".ucr">UCR</a></li>
      <li><a href="#" data-filter=".cambiemos">Cambiemos</a></li>
      <li><a href="#" data-filter=".frente-de-todos">Frente de Todes</a></li>
      <li><a href="#" data-filter=".pj">PJ</a></li>
      <li><a href="#" data-filter=".fit">FIT</a></li>
      <li><a href="#" data-filter=".pts">PTS</a></li>
      <li><a href="#" data-filter=".mic">MIC</a></li>
    </ul>
  </div>
</section>
  <div class="grilla">
    <div class="grilla-vacia light-red dn">
      No se encontraron candidates bajo esos filtros.
    </div>
    {{candidates-ficha
      id="colussi"
      categoria="trans"
      tags="ucr cambiemos intendenta"
      foto="/imagenes/candidates2019/fotos/mia-colussi.jpg"
      nombre="Mía Colussi"
      identidad="Activista trans"
      lugar="Charadai, Chaco"
      candidatura="Intendenta"
      puesto-en-lista="Titular"
      partido="UCR Cambiemos"
      inicio-en-politica="Tengo 19 años de militancia en la UCR. Comencé a los 14 o 15 años, atrás de mi papá, integrante del partido. A los 18, cuando pude ser parte formalmente, empecé a trabajar y no paré. Primero entré a la Juventud Radical y fui presidenta durante dos períodos seguidos. Ocupé distintos cargos y, en la actualidad, soy presidenta de la UCR en el circuito 70."
      experiencia-politica="Desde que comencé a trabajar, a los 18 años, tuve que soportar muchas cosas. Me tuve que adaptar a la heteronorma para poder trabajar pero, cuando llegué a los espacios en los que quería estar y salió la ley de identidad de género, pude seguir pero siendo yo. En estos años ocupé distintos espacios. Hoy trabajo en el INADI y en la Cámara de Diputados de la provincia de Chaco."
      proyectos="Tengo muchas propuestas, pero una de las principales es crear un área de Derechos Humanos en la Municipalidad. La idea es que pueda atender los casos que involucren vulneración de derechos de las mujeres, la diversidad, los pueblos originarios, las personas con discapacidad. Hoy no hay nada así en el municipio y todas las demandas llegan a la provincia directamente. Es necesario fortalecer el primer nivel de atención."
    }}
    {{candidates-ficha
      id="tobares"
      categoria="trans"
      tags="frente-de-todos pj concejala"
      foto="/imagenes/candidates2019/fotos/giulliana-ailen-tobares.jpg"
      nombre="Giulliana Ailén Tobares"
      identidad="Mujer trans"
      lugar="Río Gallegos, Santa Cruz"
      candidatura="Concejala"
      puesto-en-lista="2do"
      partido="Democracia para todos - Frente de Todos - PJ"
      inicio-en-politica="Milito desde 2003. Primero fue para un color político que me dio trabajo. Después, dejé de militar. Había cosas que no me gustaban y, además, no me tenían en cuenta."
      experiencia-politica="Después de aquella militancia, en 2013 me convocaron desde el PJ. A partir de eso, ocupé cargos en la Municipalidad. Primero, como responsable de un centro integrado, en 2014 fui jefa de división del departamento automotores y, luego jefa de departamento. No estoy muy empapada de lo que es la política pero creo que nunca es tarde. Lo importante es que incluyan a las personas trans. Eso tiene mucho valor. Por eso acepté."
      proyectos="Mi principal propuesta es poder llevar adelante proyectos del colectivo lgbtiq+ como el cupo laboral trans y la creación de un área de diversidad en el municipio. También tengo propuestas para que en los gimnasios municipales se amplíe la oferta de opciones, y quiero mejorar las pocas canchas de paddle que hay en la ciudad. El deporte es una de las áreas donde tenemos que seguir incluyendo a las personas trans."
    }}
    {{candidates-ficha
      id="rearte"
      categoria="trans"
      tags="pj concejala"
      foto="/imagenes/candidates2019/fotos/patricia-gabriela-rearte.jpg"
      nombre="Patricia Gabriela Rearte"
      identidad="Mujer trans"
      lugar="Caleta Olivia, Santa Cruz"
      candidatura="Concejala"
      puesto-en-lista="2do"
      partido="PJ"
      inicio-en-politica="Milito activamente por los Derechos Humanos y de la diversidad sexual desde hace 10 años."
      experiencia-politica="No tuve nunca una experiencia como ésta. Sería la primera vez que puedo acceder a un cargo político."
      proyectos="Quiero crear en mi municipio una defensoría que controle, fiscalice y genere normas que tengan que ver con los derechos de las personas en general, no sólo de la diversidad sexual. En Caleta Olivia hay una gran discriminación hacia todo. Hoy no hay acceso al circuito laboral para las personas trans pero también pasa con las personas con capacidades distintas y con los mayores de 30 años. Además, muchos universitarios tienen que dejar la carrera porque no tienen cómo costearla. Y con las mujeres pasa algo particular porque hay muchísimas empresas que no toman mujeres por el tema de la licencia por maternidad aún cuando eso por ley está garantizado. Mi principal objetivo es trabajar por todas esas personas."
    }}
    {{candidates-ficha
      id="grosso"
      categoria="gays"
      tags="frente-de-todos diputado-nacional"
      foto="/imagenes/candidates2019/fotos/leonardo-grosso.jpg"
      nombre="Leonardo Grosso"
      identidad="Soy marica. Tiene que ver con una historia de sororidad marica con las compañeras trans y con resignificar un término que se usó mucho tiempo de forma despectiva para construirlo en una reivindicación orgullosa de la construcción de la identidad autopercibida."
      lugar="Buenos Aires"
      candidatura="Diputado nacional"
      puesto-en-lista="3ro"
      partido="Frente de Todos"
      inicio-en-politica="Empecé a militar en el 99, en el centro de estudiantes de mi secundario, la escuela media N°6 de Villa Raffo, de Tres de Febrero. Ese centro se llamaba Claudia Falcone (estudiante secundaria desaparecida en 1977 en el operativo de La noche de los Lápices). Empezamos luchando por un refuerzo alimentario para la merienda de los pibes y pibas de la escuela. También juntamos donaciones para los inundados de José León Suárez. A partir de ahí, los delegados empezamos a armar la lista del centro de estudiantes y ganamos las elecciones."
      experiencia-politica="Cuando terminé la secundaria, empecé a militar en una organización social en un barrio en Tigre, dando clases de apoyo y organizando un merendero. Después, organizando a un grupo de vecinos, nos sumamos al movimiento piquetero. Cuando apareció Néstor Kirchner en la Argentina, el movimiento piquetero se transformó y nos sumamos a una unión con otros movimientos, y esto se convirtió en el Movimiento Evita. A partir de ahí empecé a trabajar más en política y en procesos electorales desde la organización social. Hace ocho años que soy diputado nacional. Ahora voy por mi tercer mandato."
      proyectos="En relación a la agenda LGBT, lo que hago es acompañar la agenda de la comunidad y de las organizaciones. Hoy, para mí, la prioridad es el cupo laboral trans a nivel nacional. Porque es una población que ha sufrido mucho estos últimos cuatro años de neoliberalismo, desocupación y violencia por parte del Estado para los colectivos minoritarios y para las mayorías populares. Por lo tanto, como un hecho de reparación creería que sería lo primero a hacer, sancionar la ley de cupo laboral trans. Después hay otras agendas que tienen que ver con la ley antidiscriminatoria y la ley integral trans que me parece que son importantes de sancionar."
    }}
    {{candidates-ficha
      id="arraigada"
      categoria="trans"
      tags="frente-de-todos diputado-nacional"
      foto="/imagenes/candidates2019/fotos/paula-arraigada.jpg"
      nombre="Paula Arraigada"
      identidad="Mujer trans"
      lugar="Ciudad Autónoma de Buenos Aires"
      candidatura="Diputada nacional"
      puesto-en-lista="10"
      partido="Frente de Todas, Todos y Todes"
      inicio-en-politica="Empecé a militar causas populares participando en marchas y asambleas. Orgánicamente, empecé hace 7 años, en el Frente Para la Victoria. Primero hice militancia de base y luego en la estructura. Me reconozco como militante de base, feminista, con la misión de pensar un país justo, donde se reconozcan derechos que aún no han sido adquiridos y donde reinen el amor y la igualdad. Al principio fui a militar a la villa 1-11-14 (Bajo Flores). Ahí empecé a armar el espacio de La Nelly Omar al año siguiente. El objetivo era crear poder popular. Y el primer logro fue que muchxs chicxs del barrio llegaran a la universidad."
      experiencia-politica="Militante por los derechos LGBT+, fui la primera mujer trans en integrar el parlamento de Mujeres de la Legislatura Porteña y Secretaria de Diversidad del PJ-CABA. Fui referente territorial de la comuna 7, en la Ciudad Autónoma de Buenos Aires, desde 2013 hasta 2015. Ese año fui precandidata a comunera por el Frente Para la Victoria. En 2017, fui candidata a diputada nacional, como suplente."
      proyectos="Mi primera propuesta es generar un país donde todas, todos y todes seamos iguales. Hay una población que ha sido exenta de todos los derechos adquiridos por el resto del pueblo. Esa población hay sido relegada, estigmatizada, y se le ha quitado la oportunidad de recibir una educación amigable. No ha tenido un sistema de salud amigable para contener esos cuerpos, ni la posibilidad de un trabajo formal ni una vivienda digna. No han tenido una vida plena ni feliz. Ese núcleo poblacional necesita pronto una respuesta. Las leyes más urgentes son la de cupo laboral travesti-trans y la de reparación histórica por las violencias, vejámenes y violencias sufridas. Hoy se mantiene la expectativa de vida de las personas travestis y trans en 35 años."
    }}
    {{candidates-ficha
      id="mascolo"
      categoria="trans"
      tags="fit pts diputado-caba"
      foto="/imagenes/candidates2019/fotos/tomas-mascolo.jpg"
      nombre="Tomás Máscolo"
      identidad="Varón trans"
      lugar="Ciudad Autónoma de Buenos Aires"
      candidatura="Diputado porteño"
      puesto-en-lista="1er suplente"
      partido="Frente de Izquierda y Trabajadores. PTS"
      inicio-en-politica="2007"
      experiencia-politica="Militante de Pan y Rosas desde 2007, fui a todos los Encuentros Nacionales de Mujeres y como periodista investigué los hechos de Stonewall, los inicios del Frente de Liberación Homosexual (Argentina) y el aborto en hombres trans."
      proyectos="Cupo laboral trans, ESI y aborto legal. Y que todes les diputades cobren un salario equivalente al de docentes."
    }}
    {{candidates-ficha
      id="dambrosio"
      categoria="no-binarie"
      tags="fit pts comunero"
      foto="/imagenes/candidates2019/fotos/santiago-lucas-dambrosio.jpg"
      nombre="Santiago Lucas D'Ambrosio"
      identidad="No binarie"
      lugar="Ciudad Autónoma de Buenos Aires"
      candidatura="Miembro de la Junta Comunal de la Comuna N° 8. CABA."
      puesto-en-lista="4to suplente"
      partido="Frente de Izquierda y Trabajadores. Partido de los Trabajadores Socialistas (PTS) y Pan y Rosas."
      inicio-en-politica="Empecé siendo activista contra el cierre de una sala teatral en el Centro Cultural San Martín. Ahí empecé una militancia dentro del arte y la cultura."
      experiencia-politica=""
      proyectos="No a la Universidad del Docente (UniCABA), ESI, aborto legal ya, estatización de todos los servicios."
    }}
    {{candidates-ficha
      id="cantarino"
      categoria="gays"
      tags="fit pts concejal"
      foto="/imagenes/candidates2019/fotos/facundo-martinez-cantarino.jpg"
      nombre="Facundo Martínez Cantariño"
      identidad="Gay"
      lugar="Bahía Blanca, Buenos Aires"
      candidatura="Concejal"
      puesto-en-lista="4to"
      partido="Frente de Izquierda y Trabajadores. Partido de los Trabajadores Socialistas (PTS) y Pan y Rosas."
      inicio-en-politica="Soy estudiante, trabajo de docente en secundaria y como ayudante alumno en la Universidad Nacional del Sur. Empecé a activar políticamente con la pelea por el matrimonio igualitario, y luego por la identidad de género, donde conocí a Pan y Rosas, enfrentando la política reaccionaria de la iglesia en la voz del entonces cardenal Bergoglio. Con la creación del Frente de Izquierda me acerqué a la militancia de izquierda."
      experiencia-politica="Soy representante estudiantil en el Consejo Departamental de Humanidades en la UNS por la agrupación Tesis XI y la Juventud del PTS. Con mis compañerxs de la Universidad el año pasado integré las asambleas históricas de cientos y cientos de estudiantes y docentes que enfrentaron el ataque a la educación pública llamando a tomas y marchas que reunieron a miles de jóvenes que no querían agachar la cabeza ante el ajuste que exige el FMI."
      proyectos="Cumplimiento pleno del cupo laboral trans, medidas preventivas y de asistencia para víctimas de violencia machista. Becas integrales para que lxs pibxs no dejen de estudiar. Todo financiado con la quita de subsidios a la iglesia e impuestos a las grandes fortunas, con el no pago al FMI. La deuda es con nosotrxs."
    }}
    {{candidates-ficha
      id="millaqueo"
      categoria="trans"
      tags="frente-de-todos concejala"
      foto="/imagenes/candidates2019/fotos/saira-millaqueo.jpg"
      nombre="Saira Millaqueo"
      identidad="Mujer trans"
      lugar="Bahía Blanca, Buenos Aires"
      candidatura="Concejala"
      puesto-en-lista="12"
      partido="Frente de Todos"
      inicio-en-politica="Mis inicios fueron en el Movimiento Evita."
      experiencia-politica="Es la primera vez que milito para un cargo político."
      proyectos="Quiero proponer una gestión con perspectiva de género, que actúe de forma transversal a todas las políticas públicas que se generen, profundizando en la inclusión y en promover la erradicación de la discriminación y la violencia."
    }}
    {{candidates-ficha
      id="sforza"
      categoria="bisexual"
      tags="mst fit diputado-nacional"
      foto="/imagenes/candidates2019/fotos/sofia-caceres-sforza.jpg"
      nombre="Sofía Cáceres Sforza"
      identidad="Bisexual"
      lugar="Entre Ríos"
      candidatura="Diputada nacional"
      puesto-en-lista="3ra"
      partido="MST-Nueva Izquierda en el FIT- UNIDAD"
      inicio-en-politica="Podría decirse que empecé a militar en la secundaria, cuando fui presidenta del centro de estudiantes de mi escuela. En el partido milito hace 4 años."
      experiencia-politica="He sido consejera directiva de la Facultad de Trabajo Social, presidenta del centro de estudiantes de mi escuela y candidata a intendenta por el MST."
      proyectos="10 propuestas para cambiar el país
  1. Chau FMI: no pagar ni un peso más por deuda externa y volcar esa plata a la reactivación y para más presupuesto de salud, educación y vivienda.
  2. Aumento general de salarios, jubilaciones y planes sociales, indexados por inflación.
  3. Ni un puesto de trabajo menos: prohibir por ley los despidos. Si incumplen, nacionalizar.
  4. Basta de tarifazos y privatizadas: reestatizar los servicios bajo control social.
  5. Aborto legal / Presupuesto anti-violencia de género ya / ESI / Cupo Laboral Trava-Trans/ Separación de la Iglesia y el Estado.
  6. Basta de privilegios políticos: que los diputados ganen como una maestra de jornada completa.
  7. Cortar la fuga de capitales y las maniobras: nacionalizar la banca y el comercio exterior.
  8. Prohibir megaminería, agronegocios, fracking y cementación indiscriminada.
  9. Abajo la doctrina Chocobar, el gatillo fácil y la represión: respeto a los derechos democráticos.
  10. El capitalismo no va más: por una Argentina independiente del imperialismo, rumbo al socialismo."
    }}
    {{candidates-ficha
      id="andrade"
      categoria="trans"
      tags="frente-de-todos concejala"
      foto="/imagenes/candidates2019/fotos/daniela-andrade.jpg"
      nombre="Daniela Andrade"
      identidad="Mujer trans"
      lugar="Comodoro Rivadavia, Chubut"
      candidatura="Concejala"
      puesto-en-lista="8vo"
      partido="Frente de Todos"
      inicio-en-politica="Mi inicio en la actividad política fue en 2006, aproximadamente."
      experiencia-politica="Estoy en la carrera de Ciencia Política de la UNPSJB  (Universidad Nacional de la Patagonia San Juan Bosco) y hago política desde antes del matrimonio igualitario. Fui directora de Diversidad en la provincia de Chubut y ahora soy directora de Diversidad LGBTIQ Social y Étnica de mi ciudad, Comodoro Rivadavia. Soy militante de los derechos humanos en Chubut. Coordinadora General responsable en Chubut en ATTTA (Asociación de Travestis Transexuales y Transgéneros de Argentina)."
      proyectos="Quiero seguir trabajando en las mismas líneas y temáticas en que me desempeñé y desempeño como funcionaria."
    }}
    {{candidates-ficha
      id="villagra"
      categoria="trans"
      tags="mic concejala"
      foto="/imagenes/candidates2019/fotos/katiana-villagra.jpg"
      nombre="Katiana Villagra"
      identidad="Mujer trans"
      lugar="Neuquén, Neuquén"
      candidatura="Concejala"
      puesto-en-lista="6to"
      partido="MIC. Movimiento por la Igualdad y la Ciudadanía"
      inicio-en-politica="Hace más de 20 años."
      experiencia-politica="Milito como activista trans hace más de 20 años. Soy coordinadora de ATTTA (Asociación de Travestis Transexuales y Transgéneros de Argentina) Neuquén."
      proyectos="Quiero trabajar para mejorar la calidad de vida y los derechos de las personas trans."
    }}
    {{candidates-ficha
      id="tello"
      categoria="trans"
      tags="mst fit concejala"
      foto="/imagenes/candidates2019/fotos/merlina-tello.jpg"
      nombre="Merlina Tello"
      identidad="Trava"
      lugar="Departamento Santa Lucía, San Juan."
      candidatura="Concejala"
      puesto-en-lista="1ro"
      partido="Movimiento Socialista de los Trabajadores"
      inicio-en-politica=""
      experiencia-politica="He sido candidata a vicepresidenta del centro de estudiantes de la Facultad de Filosofía, Humanidades y Arte de la Universidad Nacional de San Juan."
      proyectos="Cupo laboral trans. Quiero más oportunidades e igualdad, quiero derechos humanos. En pos de eso es que voy a trabajar desde mi lugar."
    }}
    {{candidates-ficha
      id="cardenas"
      categoria="trans"
      tags="frente-de-todos pj concejala"
      foto="/imagenes/candidates2019/fotos/paola-cardenas.jpg"
      nombre="Paola Cárdenas"
      identidad="Soy una persona trans, militante, activista y prostituta"
      lugar="Río Gallegos, Santa Cruz"
      candidatura="Concejala"
      puesto-en-lista="3ra titular"
      partido="Frente de Todos - PJ"
      inicio-en-politica="Hace 3 años"
      experiencia-politica="Colaboré en distintos espacios políticos del peronismo. Fue una muy buena experiencia porque siempre tuve apoyo."
      proyectos="Mi lucha es colectiva. Creo que estar dentro de una lista nos ayuda mucho a visibilizar y lograr la aceptación. Queremos trabajar desde el municipio en coordinación con la provincia que es la que tiene el Àrea de Género y Diversidad, dentro de Derechos Humanos. Quiero que trabajemos en conjunto para lograr dar respuesta a los problemas del colectivo y crecer conjuntamente."
    }}
    {{candidates-ficha
      id="rabines"
      categoria="gays"
      tags="frente-de-todos legislador-caba"
      foto="/imagenes/candidates2019/fotos/ezequiel-rabines.jpg"
      nombre="Ezequiel Rabines"
      identidad="Marika"
      lugar="Ciudad Autónoma de Buenos Aires"
      candidatura="Legislador de la Ciudad Autónoma de Buenos Aires"
      puesto-en-lista="28"
      partido="Frente de Todos"
      inicio-en-politica="2007"
      experiencia-politica="Mis inicios fueron gremiales, hasta que en el 2010-2011 me sumé a La Cámpora, en ese entonces en la comuna 7, Flores. Ahora soy el responsable político del Frente de Diversidades Sexuales y Disidencias de la Campora CABA. También participamos de la Comisión Organizadora de la Marcha del Orgullo y tenemos la responsabilidad de la seguridad y organización."
      proyectos="Presentados en la Legislatura Porteña, Nueva Ley de VIH/SIDA, Hepatitis virales e Its, junto al Frente Nacional por la Salud de las Personas que Viven con VIH. Proyecto de Incorporar perspectivas de diversidades y disidencias sexuales a la Encuesta Anual de Hogares (EAH) y a la Encuesta Trimestral de ocupación e Ingresos (ETOI). Además, llevamos talleres, conversatorios y formación a las 15 comunas de la ciudad, secundarios y universidades sobre, diversidades sexuales, disidencias y masculinidades."
    }}
    {{candidates-ficha
      id="gutierrez"
      categoria="trans"
      tags="frente-de-todos consejala"
      foto="/imagenes/candidates2019/fotos/ivana-gutierrez.jpg"
      nombre="Ivana Gutiérrez"
      identidad="Travesti"
      lugar="Morón"
      candidatura="Concejala"
      puesto-en-lista="2da titular"
      partido="Frente de Todos"
      inicio-en-politica="Milito desde hace 12 años. Empecé en Nuevo Encuentro y hace 10 estoy en Conurbanxs por la Diversidad. Ahora pertenezco a Géneros y Disidencias, de Nuevo Encuentro. Vengo de una familia militante, mi mamá era directora del comedor del Centro Comunitario Los Gardelitos, del barrio Carlos Gardel (de donde soy). En 2012 milité la Ley de Identidad de Género."
      experiencia-politica="Soy estudiante de Trabajo Social, en la Universidad de Madres de Plaza de Mayo. Me recibo de técnica el año que viene y estoy trabajando en territorio en el barrio Carlos Gardel. Soy militante de los derechos humanos del colectivo. Participo como disertante en la  Asociación Internacional de Lesbianas, Gays, Bisexuales, Trans e Intersex para América Latina y el Caribe- ILGALAC en Guatemala y a nivel regional, en Buenos Aires."
      proyectos="Tengo un proyecto para crear un área de Diversidad y Disidencias en el ámbito de la Municipalidad de Morón. También crear políticas públicas destinadas a la población travesti y trans. Exigir el cumplimiento de la ordenanza de cupo laboral travesti trans, aprobada por todos los bloques en 2016. Reclamar un presupuesto específico para la salud y educación del colectivo LGTB, entre otros temas."
    }}
    {{candidates-ficha
      id="ferraro"
      categoria="gays"
      tags="cambiemos diputado-nacional"
      foto="/imagenes/candidates2019/fotos/maximiliano-ferraro.jpg"
      nombre="Maximiliano Ferraro"
      identidad="Gay"
      lugar="Ciudad Autónoma de Buenos Aires"
      candidatura="Diputado nacional"
      puesto-en-lista="1ro"
      partido="Juntos por el cambio"
      inicio-en-politica="Tengo 42  años, milito en política desde los 14 y, actualmente, soy Legislador de la Ciudad de Buenos Aires. Mi trayectoria política la desarrollé como dirigente de la Coalición Cívica ARI."
      experiencia-politica="Es mi segundo mandato como legislador de CABA (2015-2019), y soy  vicepresidente del Bloque Vamos Juntos. Presido la Comisión de Educación, ciencia y tecnología."
      proyectos="Ya presenté casi 600 proyectos de mi autoría y soy coautor de otros 270.  Quiero llevar al Congreso propuestas relacionadas a educación, cuidado del medio ambiente, ampliación de derechos al colectivo LGTBI y también los vinculados al transporte público, la movilidad sustentable y la cultura.
      En mi trabajo como legislador, no tuve miedo de hacerle frente al juego, porque prefiero apostar a algo que nunca se pierde, como la cultura y la educación. Por eso hicimos leyes para ponerle fichas a los centros culturales independientes y para aumentar la inversión en educación.
      Impulsamos la Ley de extensión horaria del subte para que, aunque trabajes o estudies hasta tarde, puedas llegar temprano a tu casa. Está bueno tener otra alternativa cuando el taxi no es una opción.
      Ampliamos la Ley de bares notables para darle a los viejos un pie de apoyo y no me refiero a transformar la Richmond en una tienda de Nike. Todo lo contrario. Y la Ley de sangre, para que al momento de donar, más que tu elección sexual, importe tu elección de ser donante."
    }}
    {{candidates-ficha
      id="sabarece"
      categoria="trans"
      tags="frente-de-todos concejala"
      foto="/imagenes/candidates2019/fotos/ursula-sabarece.jpg"
      nombre="Úrsula Sabarece"
      identidad="Mujer trans y travesti, porque abrazo y reinvindico lo travesti como político. Y porque así me enseñaron Lohana (Berkins) y Diana (Sacayán)."
      lugar="Resistencia, Chaco"
      candidatura="Concejala"
      puesto-en-lista="10mo"
      partido="Frente Chaqueño"
      inicio-en-politica="Desde el 2008 milito en política partidaria desde el Frente Grande, y desde el 2003 en la militancia y activismo travesti trans y LGBIQ+."
      experiencia-politica="En 2017 fui candidata a diputada provincial por el partido Frente Grande. Colaboradora entre 2009 y 2015 en el bloque Frente Grande para los diputados Fabricio Bolatti, Fabricio Nelson y Daniel Trabalon, en distintas áreas, como la de seguimientos legislativos permanentes de iniciativas y normas vinculadas a la temática del Vih-Sida e Infecciones de Transmisión Sexual (ITS), discapacidad, entre otras."
      proyectos="Desde el espacio político al que pertenezco se viene trabajando desde el 2000 las políticas de la diversidad sexual y de géneros. Hemos sido autores de un sinfín de propuestas legislativas provinciales. El último fue la sanción de la ley provincial de inserción laboral travesti Trans N°2934-L. Desde el municipio acompañamos y trabajamos en la ordenanza del 1% de cupo travesti trans N°11936 sancionada en 2016, de la concejala Nancy  Sotelo del bloque SOMOS.
      La propuesta es seguir trabajando para que se efectivice el cumplimiento de ambas normas y difundir y capacitar a la población en general en el respeto y en las construcciones individuales como políticas desde lo municipal.
      También quiero desarrollar estrategias de capacitación para que les compañeres puedan acceder a un trabajo formal. Sabemos que el desafío es enorme ya que aún seguimos siendo marginadas e invisibilizadas de las políticas públicas de los gobiernos. Por ello la importancia de que hoy podamos ser parte de listas y ser nosotras mismas las voces para el diseño de estas políticas. Faltan más voces, pero lo estamos logrando."
    }}
    {{candidates-ficha
      id="pedelacq"
      categoria="lesbiana"
      tags="frente-de-todos concejala"
      foto="/imagenes/candidates2019/fotos/carolina-pedelacq.jpg"
      nombre="Carolina Pedelacq"
      identidad="Lesbiana"
      lugar="San Martín, Buenos Aires"
      candidatura="Concejala"
      puesto-en-lista="4to"
      partido="Frente de Todos"
      inicio-en-politica="Comencé mi militancia de base en los barrios de José León Suárez, desarrollando espacios educativos para la infancia y la adultez.Cuando me sumé al Movimiento Evita comencé a construir en el Frente de Mujeres. Con las compañeras desarrollamos el feminismo popular territorial. Esto incluía desde consejerías de interrupción del embarazo hasta espacios de infancia y de consumo para las pibas."
      experiencia-politica="Hoy soy responsable también del movimiento Mujeres Evita de la provincia de Buenos Aires. Es la primera vez que participó como candidata en una lista. También organizamos espacios de trabajo cooperativo para mujeres y pibas con una perspectiva de género. Entiendo mi lugar como una herramienta colectiva de representación, creo que el feminismo popular me puso en ese lugar, como podrían haberlo hecho con muchas de las compañeras que construyen conmigo."
      proyectos="Quiero fomentar el trabajo de la economía popular y cooperativo. Y desarrollar líneas para el fomento de la producción y comercialización. También quiero desarrollar el trabajo de prevención y abordaje de la violencia de género a través de las promotoras territoriales que logramos conformar como programa municipal. Me interesa crear espacios de participación de jóvenes y adolescentes como parlamentos juveniles donde este sector pueda incidir en la política local."
    }}
  </div>
