{{yield}}

{{#unless tarea.last.isRunning}}
  <select name="" disabled={{deshabilitado}} class="pa1 bg-white w-100 dinnext {{if deshabilitado 'o-50'}}" onchange={{action "cuandoCambia" value="target.value"}} disabled={{disabled}}>
    <option value="" disabled selected>Seleccione una Opcion</option>
    {{#each tarea.last.value as |opcion|}}
      {{#if (eq opcion.id valor.id)}}
        <option selected value="{{opcion.id}}"> {{get opcion optionLabel}} </option>
      {{else}}
        <option value="{{opcion.id}}"> {{get opcion optionLabel}} </option>
      {{/if}}
    {{/each}}
  </select>
{{else}}
  <select class="pa1 bg-white w-100 gray" name="">
    <option disabled selected>Cargando ...</option>
  </select>
{{/unless}}
