<h1 class="">
  Elecciones Argentina 2019: candidates LGBTI
</h1>
{{!-- <section class="cf w-100 pv3 f6 ph3 ph4-ns">
  <div class="flex flex-wrap justify-center"> --}}
    {{!-- <div class="w-50 w-third-m w-20-ns pa3 tc" {{action (route-action "mostrarModal" "colussi")}}>
      <img class="br3 h4 w4 dib" src="/imagenes/candidates2019/fotos/mia-colussi.jpg" alt="Mía Colussi">
      <div class="f5 mt2">
        Mía Colussi
      </div>
    </div>
    <div class="w-50 w-third-m w-20-ns pa3 tc" {{action (route-action "mostrarModal" "tobares")}}>
      <img class="br3 h4 w4 dib" src="/imagenes/candidates2019/fotos/giulliana-ailen-tobares.jpg" alt="Giulliana Ailén Tobares">
      <div class="f5 mt2">
        Giulliana Ailén Tobares
      </div>
    </div>
    <div class="w-50 w-third-m w-20-ns pa3 tc" {{action (route-action "mostrarModal" "rearte")}}>
      <img class="br3 h4 w4 dib" src="/imagenes/candidates2019/fotos/patricia-gabriela-rearte.jpg" alt="Patricia Gabriela Rearte">
      <div class="f5 mt2">
        Patricia Gabriela Rearte
      </div>
    </div>
    <div class="w-50 w-third-m w-20-ns pa3 tc" {{action (route-action "mostrarModal" "rearte")}}>
      <img class="br3 h4 w4 dib" src="/imagenes/candidates2019/fotos/patricia-gabriela-rearte.jpg" alt="Patricia Gabriela Rearte">
      <div class="f5 mt2">
        Patricia Gabriela Rearte
      </div>
    </div> --}}
{{!--
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/leonardo-grosso.jpg"
      nombre="Leonardo Grosso"
      modo="lista"
      target="grosso"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/paula-arraigada.jpg"
      nombre="Paula Arraigada"
      modo="lista"
      target="arraigada"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/tomas-mascolo.jpg"
      nombre="Tomás Máscolo"
      modo="lista"
      target="mascolo"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/santiago-lucas-dambrosio.jpg"
      nombre="Santiago Lucas D'Ambrosio"
      modo="lista"
      target="dambrosio"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/facundo-martinez-cantarino.jpg"
      nombre="Facundo Martínez Cantariño"
      modo="lista"
      target="cantarino"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/saira-millaqueo.jpg"
      nombre="Saira Millaqueo"
      modo="lista"
      target="millaqueo"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/sofia-caceres-sforza.jpg"
      nombre="Sofía Cáceres Sforza"
      modo="lista"
      target="sforza"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/daniela-andrade.jpg"
      nombre="Daniela Andrade"
      modo="lista"
      target="andrade"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/katiana-villagra.jpg"
      nombre="Katiana Villagra"
      modo="lista"
      target="villagra"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/merlina-tello.jpg"
      nombre="Merlina Tello"
      modo="lista"
      target="tello"
    }}
    {{candidates-ficha
      foto="/imagenes/candidates2019/fotos/paola-cardenas.jpg"
      nombre="Paola Cárdenas"
      modo="lista"
      target="cardenas"
    }} --}}
  {{!-- </div>
</section> --}}
<div class="ph6"></div>
<section class="cf w-100 pv3 f6 ph3 ph4-ns">
  <div class="flex flex-wrap ">
    {{candidates-ficha
      id="colussi"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/mia-colussi.jpg"
      nombre="Mía Colussi"
      identidad="Activista trans"
      lugar="Charadai, Chaco"
      candidatura="Intendenta"
      puesto-en-lista="Titular"
      partido="UCR Cambiemos"
      inicio-en-politica="Tengo 19 años de militancia en la UCR. Comencé a los 14 o 15 años, atrás de mi papá que era parte del partido. A los 18, cuando pude ser parte formalmente, empecé a trabajar y no paré. Primero entré a la Juventud Radical y fui presidenta durante dos perìodos seguidos. Ocupé distintos cargos y, en la actualidad, soy presidenta de la UCR en el circuito 70."
      experiencia-politica="Desde que comencé a trabajar, a los 18 años, tuve que soportar muchas cosas. Me tuve que adaptar a la heteronorma para poder trabajar pero, cuando llegué a los espacios en los que quería estar y salió la ley de identidad de género, pude seguir pero siendo yo. En estos años ocupé distintos espacios. Hoy trabajo en el INADI y en la Cámara de Diputados de la provincia de Chaco."
      proyectos="Tengo muchas propuesta pero una de las principales es crear un área de Derechos Humanos en la Municipalidad. La idea es que pueda atender los casos que involucren vulneración de derechos de las mujeres, la diversidad, los publicos originarios, las personas con discapacidad. Hoy no hay nada así en el municipio y todas las demandas llegan a la provincia directamente. Es necesario fortalecer el primer nivel de atención."
    }}
    {{candidates-ficha
      id="tobares"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/giulliana-ailen-tobares.jpg"
      nombre="Giulliana Ailén Tobares"
      identidad="Mujer trans"
      lugar="Río Gallegos, Santa Cruz"
      candidatura="Concejala"
      puesto-en-lista="2do"
      partido="Democracia para todos - Frente de Todos - PJ"
      inicio-en-politica="Milito desde 2003. Primero fue para un color político que me dio trabajo pero después dejé de militar porque había cosas que no me gustaban y no me tenían en cuenta."
      experiencia-politica="No tengo mucha experiencia política. Después de esa primera experiencia me convocaron para militar en el PJ en 2013. A partir de eso tuve cargos en la Municipalidad. Primero estuve como responsable de un centro integrado y en 2014 fui jefa de división del departamento automotores y, luego, jefa de departamento. No estoy muy empapada de lo que es la política pero nunca es tarde. Lo importante es que incluyen a las personas trans y eso tiene mucho valor, por eso acepté."
      proyectos="Mi principal propuesta es poder llegar adelante proyectos del colectivo lgbtiq como el cupo laboral trans y la creación de un área de diversidad en el municipio. También tengo propuestas para que en los gimnasios municipales se amplíen en las propuestas, quiero embellecer las pocas canchas de paddle que hay en la ciudad. El deporte es una de las áreas donde tenemos que seguir incluyendo a las personas trans."
    }}
    {{candidates-ficha
      id="rearte"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/patricia-gabriela-rearte.jpg"
      nombre="Patricia Gabriela Rearte"
      identidad="Mujer trans"
      lugar="Caleta Olivia, Santa Cruz"
      candidatura="Concejala"
      puesto-en-lista="2do"
      partido="PJ"
      inicio-en-politica="Milito por los Derechos Humanos y de la diversidad hace 10 años, activamente."
      experiencia-politica="No tuve nunca una experiencia como ésta. Sería la primera vez que puedo acceder a un cargo político."
      proyectos="Quiero crear en mi municipio una defensoría que controles, fiscalice y genere normas que tengan que ver con los derechos de las personas en general, no sólo de la diversidad. En mi ciudad hay una gran discriminación hacia todo. Hoy no hay acceso al circuito laboral de las personas trans pero también pasa con las personas con capacidades distintas y con los mayores de 30 años. Además pasa que muchos universitarios tienen que dejar la carrera porque no tienen cómo costearla. Y con las mujeres pasa algo particular porque hay muchísimas empresas que no toman mujeres porque sacan licencia por maternidad aún cuando eso por ley está garantizado. Así que mi principal objetivo es trabajar por todas esas personas."
    }}
    {{candidates-ficha
      id="grosso"
      categoria="gays"
      foto="/imagenes/candidates2019/fotos/leonardo-grosso.jpg"
      nombre="Leonardo Grosso"
      identidad="Soy marica. Tiene que ver con una historia de sororidad marica con las compañeras trans y con resignificar un término que se usó mucho tiempo de forma despectiva para construirlo en una reivindicación orgullosa de la construcción de la identidad autopercibida."
      lugar="Buenos Aires"
      candidatura="Diputado nacional"
      puesto-en-lista="3ro"
      partido="Frente de Todos"
      inicio-en-politica="Empecé a militar en el 99, en el centro de estudiantes de mi secundario, la escuela media N°6 de Villa Rafo, de Tres de Febrero. Ese centro se llamaba Claudia Falcone y empezamos luchando por un refuerzo alimentario para la merienda de los pibes y pibas de la escuela. También juntamos donaciones para los inundados de José León Suárez. A partir de ahí, los delegados que hicieron esas cosas empezamos a armar la lista del centro de estudiantes y ganamos las elecciones."
      experiencia-politica="Cuando terminé la secundaria empecé a militar en una organización social en un barrio en Tigre, dando clases de apoyo y organizando un merendero. Después, organizando a un grupo de vecinos, nos sumamos al movimiento de piqueteros. Cuando aparece Néstor Kirchner en la Argentina, el movimiento piquetero se transforma en el movimiento Evita o nos sumamos a una unión de otros movimientos que fue el Movimiento Evita. A partir de ahí empecé a trabajar más en política y en procesos electorales desde la organización social y hace ocho años que soy diputado nacional. Y ahora voy por mi tercer mandato."
      proyectos="En relación a la agenda LGBT, lo que hago es acompañar la agenda de la comunidad y de las organizaciones. Hoy, para mí, la prioridad es el cupo laboral trans a nivel nacional. Porque es una población que ha sufrido mucho estos últimos cuatro años de neoliberalismo, desocupación y violencia por parte del Estado para los colectivos minoritarios y para las mayorías populares. Por lo tanto, como un hecho de reparación creería que sería lo primero a hacer, sancionar la ley de cupo laboral trans. Después hay otras agendas que tienen que ver con la ley antidiscriminatoria y la ley integral trans que me parece que son importantes de sancionar."
    }}
    {{candidates-ficha
      id="arraigada"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/paula-arraigada.jpg"
      nombre="Paula Arraigada"
      identidad="Mujer trans"
      lugar="Ciudad Autónoma de Buenos Aires"
      candidatura="Diputada nacional"
      puesto-en-lista="10"
      partido="Frente de Todas, Todos y Todes"
      inicio-en-politica="Empecé a militar causas populares participando en marchas y asambleas. Orgánicamente, empecé hace 7 años, en el Frente Para la Victoria. Primero hice militancia de base y luego en la estructura. Me reconozco como militante de base, feminista, con la misión de pensar un país justo, donde se reconozcan derechos que aún no han sido adquiridos y donde reinen el amor y la igualdad. Al principio fui a militar a la villa 1-11-14 (Bajo Flores). Ahí empecé a armar el espacio de La Nelly Omar al año siguiente. El objetivo era crear poder popular. Y el primer logro fue que muchxs chicxs del barrio llegaran a la universidad."
      experiencia-politica="militante por los Derechos LGBT+, la primera mujer trans en integrar el parlamento de Mujeres de la Legislatura Porteña y Secretaria de Diversidad del PJ-CABA. Fui referente territorial de la comuna 7, en la Ciudad Autónoma de Buenos Aires, desde 2013 hasta 2015. Ese año fui precandidata a comunera por el Frente Para la Victoria. En 2017, fui candidata a diputada nacional, como suplente."
      proyectos="Mi primera propuesta es generar un país donde todas, todos y todes seamos iguales. Hay una población que ha sido exenta de todos los derechos adquiridos por el resto del pueblo. Esa población hay sido relegada, estigmatizada, y se le ha quitado la oportunidad de recibir una educación amigable. No ha tenido un sistema de salud amigable para contener esos cuerpos, ni la posibilidad de un trabajo formal ni una vivienda digna. No han tenido una vida plena ni feliz. Ese núcleo poblacional necesita pronto una respuesta. Las leyes más urgentes son la de cupo laboral travesti-trans y la de reparación histórica por las violencias, vejámenes y violencias sufridas. Hoy se mantiene la expectativa de vida de las personas travestis y trans en 35 años."
    }}
    {{candidates-ficha
      id="mascolo"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/tomas-mascolo.jpg"
      nombre="Tomás Máscolo"
      identidad="Varón trans"
      lugar="Ciudad Autónoma de Buenos Aires"
      candidatura="Diputado porteño"
      puesto-en-lista="1er suplente"
      partido="Frente de Izquierda y Trabajadores. PTS"
      inicio-en-politica="2007"
      experiencia-politica="Militante de Pan y Rosas desde 2007, fui a todos los Encuentros Nacionales de Mujeres y como periodista investigue los hechos de Stonewall, los inicios del FLH Argentino y el aborto en hombres trans."
      proyectos="Cupo laboral trans, ESI y aborto legal, que todo diputado cobre como un docente."
    }}
    {{candidates-ficha
      id="dambrosio"
      categoria="no-binarie"
      foto="/imagenes/candidates2019/fotos/santiago-lucas-dambrosio.jpg"
      nombre="Santiago Lucas D'Ambrosio"
      identidad="No binarie"
      lugar="Ciudad Autónoma de Buenos Aires"
      candidatura="Miembro de la Junta Comunal de la Comuna N° 8. CABA."
      puesto-en-lista="4to suplente"
      partido="Frente de Izquierda y Trabajadores. Partido de los Trabajadores Socialistas (PTS) y Pan y Rosas."
      inicio-en-politica="Empecé siendo activista contra el cierre de una sala teatral en el Centro Cultural San Martín. Ahí empecé una militancia dentro del arte y la cultura."
      experiencia-politica=""
      proyectos="No a la Universidad del Docente (UniCABA), ESI, aborto legal ya, estatización de todos los servicios."
    }}
    {{candidates-ficha
      id="cantarino"
      categoria="gays"
      foto="/imagenes/candidates2019/fotos/facundo-martinez-cantarino.jpg"
      nombre="Facundo Martínez Cantariño"
      identidad="Gay"
      lugar="Bahía Blanca, Buenos Aires"
      candidatura="Concejal"
      puesto-en-lista="4to"
      partido="Frente de Izquierda y Trabajadores. Partido de los Trabajadores Socialistas (PTS) y Pan y Rosas."
      inicio-en-politica="Soy estudiante, trabajo de docente en secundaria y como ayudante alumno en la Universidad Nacional del Sur. Empecé a activar políticamente con la pelea por el matrimonio igualitario, y luego por la identidad de género, donde conocí a Pan y Rosas, enfrentando la política reaccionaria de la iglesia en la voz del entonces cardenal Bergoglio. Con la creación del Frente de Izquierda me acerqué a la militancia de izquierda."
      experiencia-politica="Soy representante estudiantil en el Consejo Departamental de Humanidades en la UNS por la agrupación Tesis XI y la Juventud del PTS. Con mis compañerxs de la Universidad el año pasado integré las asambleas históricas de cientos y cientos de estudiantes y docentes que enfrentaron el ataque a la educación pública llamando a tomas y marchas que reunieron a miles de jóvenes que no querían agachar la cabeza ante el ajuste que exige el FMI."
      proyectos="Cumplimiento pleno del cupo laboral trans, medidas preventivas y de asistencia para víctimas de violencia machista. Becas integrales para que lxs pibxs no dejen de estudiar. Todo financiado con la quita de subsidios a la iglesia e impuestos a las grandes fortunas, con el no pago al FMI. La deuda es con nosotrxs."
    }}
    {{candidates-ficha
      id="millaqueo"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/saira-millaqueo.jpg"
      nombre="Saira Millaqueo"
      identidad="Mujer trans"
      lugar="Bahía Blanca, Buenos Aires"
      candidatura="Concejala"
      puesto-en-lista="12"
      partido="Frente de Todos"
      inicio-en-politica="Mis inicios fueron en el Movimiento Evita."
      experiencia-politica="Es mi primera vez en un puesto."
      proyectos="Quiero proponer una gestión con perspectiva de género, que actúe de forma transversal a todas las políticas públicas que se generen, profundizando en la inclusión y en promover la erradicación de la discriminación y la violencia."
    }}
    {{candidates-ficha
      id="sforza"
      categoria="bisexual"
      foto="/imagenes/candidates2019/fotos/sofia-caceres-sforza.jpg"
      nombre="Sofía Cáceres Sforza"
      identidad="Bisexual"
      lugar="Entre Ríos"
      candidatura="Diputada nacional"
      puesto-en-lista="3ra"
      partido="MST-Nueva Izquierda en el FIT- UNIDAD"
      inicio-en-politica="En la política podría decirse en la secundaria cuando fui presidenta del Centro de Estudiantes de mi escuela. En el partido hace 4 años aproximadamente."
      experiencia-politica="He sido Consejera Directiva de la Facultad de Trabajo Social, presidenta del Centro de Estudiantes de mi Escuela y candidata a Intendenta por el MST."
      proyectos="10 propuestas para cambiar el país
  1. Chau FMI: no pagar ni un peso más por deuda externa y volcar esa plata a la reactivación y para más presupuesto de salud, educación y vivienda.
  2. Aumento general de salarios, jubilaciones y planes sociales, indexados por inflación.
  3. Ni un puesto de trabajo menos: prohibir por ley los despidos. Si incumplen, nacionalizar.
  4. Basta de tarifazos y privatizadas: reestatizar los servicios bajo control social.
  5. Aborto legal / Presupuesto anti-violencia de género ya / ESI / Cupo Laboral Trava-Trans/ Separación de la Iglesia y el Estado.
  6. Basta de privilegios políticos: que los diputados ganen como una maestra de jornada completa.
  7. Cortar la fuga de capitales y las maniobras: nacionalizar la banca y el comercio exterior.
  8. Prohibir megaminería, agronegocios, fracking y cementación indiscriminada.
  9. Abajo la doctrina Chocobar, el gatillo fácil y la represión: respeto a los derechos democráticos.
  10. El capitalismo no va más: por una Argentina independiente del imperialismo, rumbo al socialismo."
    }}
    {{candidates-ficha
      id="andrade"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/daniela-andrade.jpg"
      nombre="Daniela Andrade"
      identidad="Mujer trans"
      lugar="Comodoro Rivadavia, Chubut"
      candidatura="Concejala"
      puesto-en-lista="8vo"
      partido="Frente de Todos"
      inicio-en-politica="Mi inicio en la actividad política fue en 2006, aproximadamente."
      experiencia-politica="Estoy en la carrera en Ciencia Política de la UNPSJB y hago política desde antes del matrimonio igualitario. Fui directora de Diversidad en la provincia de Chubut y ahora soy directora de Diversidad LGBTIQ Social y Étnica de mi ciudad, Comodoro Rivadavia. Soy militante de los derechos humanos en Chubut. Coordinadora General responsable en Chubut en ATTTA Red Nacional."
      proyectos="Quiero seguir trabajando en las mismas líneas y temáticas en que me desempeñé y desempeño como funcionaria."
    }}
    {{candidates-ficha
      id="villagra"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/katiana-villagra.jpg"
      nombre="Katiana Villagra"
      identidad="Mujer trans"
      lugar="Neuquén, Neuquén"
      candidatura="Concejala"
      puesto-en-lista="6to"
      partido="MIC. Movimiento por la Igualdad y la Ciudadanía"
      inicio-en-politica="Hace más de 20 años."
      experiencia-politica="Milito como activista trans hace más de 20 años. Soy coordinadora de Attta Neuquén."
      proyectos="Quiero trabajar para mejorar la calidad de vida y los derechos de las personas trans."
    }}
    {{candidates-ficha
      id="tello"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/merlina-tello.jpg"
      nombre="Merlina Tello"
      identidad="Trava"
      lugar="Departamento Santa Lucía, San Juan."
      candidatura="Concejala"
      puesto-en-lista="1ro"
      partido="Movimiento Socialista de los Trabajadores"
      inicio-en-politica=""
      experiencia-politica="He sido candidata a vicepresidenta del centro de estudiantes de la Facultad de Filosofía, Humanidades y Arte de la Universidad Nacional de San Juan."
      proyectos="Cupo laboral trans. Quiero más oportunidades e igualdad, quiero derechos humanos. En pos de eso es que voy a trabajar desde mi lugar."
    }}
    {{candidates-ficha
      id="cardenas"
      categoria="trans"
      foto="/imagenes/candidates2019/fotos/paola-cardenas.jpg"
      nombre="Paola Cárdenas"
      identidad="Soy una persona trans, militante, activista y prostituta"
      lugar="Río Gallegos, Santa Cruz"
      candidatura="Concejala"
      puesto-en-lista="3ra titular"
      partido="Frente de Todos - PJ"
      inicio-en-politica="Hace 3 años"
      experiencia-politica="Colaboré en distintos espacios políticos del peronismo. Fue una muy buena experiencia porque siempre tuve apoyo."
      proyectos="Mi lucha es colectiva. Creo que estar dentro de una lista nos ayuda mucho a visibilizar y lograr la aceptaciòn. Queremos trabajar desde el municipio en coordinaciòn con la provincia que es la que tiene el Àrea de Gènero y Diversidad, dentro de Derechos Humanos. Quiero que trabajemos en conjunto para lograr dar respuesta a los problemas del colectivo y crecer conjuntamente."
    }}
  </div>
</section>
