{{yield}}

{{#if caso.imagenUrl}}
  <img src="{{ caso.imagenUrl }}" alt="" class="ba b--light-silver br2 h4 w4 dib pv3 tc">
  <div class="dtc pr1"></div>
{{else}}
  <img src="/imagenes/avatar.jpg" alt="Sin foto" class="ba b--light-silver br2 h4 w4 dib pv0 tc {{if disabled '' ' pointer'}}" {{action "abrirInput"}}>
  <div class="dtc pr1"></div>
{{/if}}
