{{yield}}
<h1>
  <span class="gris">Organizaciones > </span>{{model.nombre}}
</h1>

<h2>Datos de la organización</h2>
<div class="flex">
  <div class="flex flex-column w-50">
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Nombre" valor=model.nombre}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Referente" valor=model.referente}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Teléfono de contacto" valor=model.telefono}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Email" valor=model.email email=true}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Dirección" valor=model.direccion}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Localidad" valor=model.localidad}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Provincia" valor=model.provincia.nombre}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Descripción de su especificidad" valor=model.descripcion textarea=true}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Website" valor=model.website link=true}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Facebook" valor=model.facebook link=true}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Twitter" valor=model.twitter link=true}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="Instagram" valor=model.instagram link=true}}
    {{presentes-detalle/detalle-item ancho="40" etiqueta="YouTube" valor=model.youtube link=true}}
  </div>
  <div class="flex flex-column w-40">
    {{#if (or (eq model.latitud "") (eq model.longitud ""))}}
      <div class="bg-light-gray h-100 tc pt5">Sin Mapa</div>
      <div class="bg-light-gray h-100 tc pt0">Revisar si la dirección existe en <a href="https://www.openstreetmap.org" target="_blank">Open Street Map</a></div>
    {{else}}
      {{presentes-ui/mapa-individual popup=false modelo=model zoom=12}}
    {{/if}}
  </div>
</div>
<div class="pt3">
  {{presentes-ui/boton texto="Volver" accion=(transition-to "app.organizaciones.index")}}
  {{presentes-ui/boton texto="Editar" accion=(transition-to "app.organizaciones.editar" model.id) primario=true}}
</div>
