{{#unless subiendo}}

  <div class="hide-child dib relative">
    {{#if valor.contenido}}
        <img src="{{ valor.contenido }}" alt="" class="ba b--light-silver br2 h4 w4 dib pv3 tc">
    {{else}}
      {{#if url}}
        <img src="{{ url }}" alt="" class="ba b--light-silver br2 h4 w4 dib pv3 tc">
      {{else}}
        <div class="white bg-black-50 b1 b--black br2 h4 w4 dib pv3 pt4 tc">
          <div class="pt3 lh-copy">Sin imagen</div>
        </div>
      {{/if}}
    {{/if}}

    <div class="child pa4 tc absolute absolute--fill bg-black-50 white unselectable pointer" {{action "abrirInput"}}>
      Cambiar
    </div>
  </div>

{{else}}
  <div class="tc ph3 pv4 v-mid bg-gray h4 w4 br2">
    <img src="/spinners/spinner-blanco.svg" alt="">
  </div>
{{/unless}}



<input type="file" value="" class="dn" accept="image/x-png,image/gif,image/jpeg" onchange={{action "upload"}} multiple="false">
