{{#if (media 'isMobile')}}
  <div class="flex shadow-1 bg-white gray asap">
    {{presentes-ui/menu-mobile}}

    <div class="b4lue pa1 pointer disable-select pr4" {{action (transition-to "app.index")}}>
      {{presentes-ui/logo size=38 extraClass='v-top'}}
    </div>
  </div>
{{else}}
  <div class="flex shadow-1 bg-white gray asap">

    <div class="b4lue pa0 pointer disable-select pr4" {{action (transition-to "app.index")}}>
      {{presentes-ui/logo extraClass='v-top'}}
    </div>

    <div class="flex1">
      {{presentes-ui/secciones}}
    </div>

    <div class="gray">
      {{#if session.isAuthenticated}}
        {{#link-to "app.mi-perfil" activeClass="bg-black white b bw2 bb b-purple" class="link gray dim h-100 pa2 pt3 dib"}}Mi perfil{{/link-to}}
        {{#link-to "logout" activeClass="bg-black white b bb bw2 b-purple" class="link gray dim h-100 pa2 pt3 dib"}}Salir{{/link-to}}
      {{else}}
        {{#link-to 'login' activeClass="bg-black white b bw2 bb b-purple" class="link gray dim h-100 pa2 pt3 dib"}}Login{{/link-to}}
      {{/if}}


    </div>

  </div>
{{/if}}
