<div class="referencias pb3">
  <img src="/imagenes/presentes-logo.png" width=auto height=32 alt="" class='mb3'>
  <p class="ml4 mr4 asap f4"><img class="v-base" height=16 src="/markers/red-marker.png"> Ataques a personas</p>
  <p class="ml4 mr4 asap f4"><img class="v-base" height=16 src="/markers/yellow-marker.png"> Muerte por travesticidio social</p>
  <p class="ml4 mr4 asap f4"><img class="v-base" height=16 src="/markers/light-blue-marker.png"> Asesinatos a personas LGBT+</p>
  <p class="ml4 mr4 asap f4"><img class="v-base" height=16 src="/markers/pink-marker.png"> Ataques a lugares</p>
</div>
{{#leaflet-map lat=latitud lng=longitud zoom=zoom}}
  {{!-- {{tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}} --}}
  {{!-- {{tile-layer url="http://a.tile.stamen.com/toner/{z}/{x}/{y}.png"}} --}}
  {{tile-layer url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png"}}
  {{!-- {{tile-layer url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png"}} --}}
    {{#each model.data as |m|}}
      {{#marker-layer lat=m.latitud lng=m.longitud onClick=(action "accionDePrueba" m) icon=(category-icon m.categoria) as |marker|}}
        {{presentes-ui/mapa-popup
          nombre=m.nombreCompleto
          fecha=m.fechaDelHecho
          calle=m.calle
          localidad=m.localidad
          provincia=m.provincia
          id=m.id
          ficha=true
          nota=m.linkDeNota
          categoria=m.categoria
          copete=m.copete
          modelo=m
          imagen=m.imagen_url
          edad=m.edad
        }}
      {{/marker-layer}}
    {{/each}}
{{/leaflet-map}}
