
{{#leaflet-map lat=latitud lng=longitud zoom=zoom}}
  {{tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}}
    {{#each model.data as |m|}}
      {{#marker-layer lat=m.latitud lng=m.longitud onClick=(action "accionDePrueba" m) as |marker|}}
        {{#popup-layer}}
          <h3>{{m.nombre}} {{m.apellido}}</h3>
          <p>Ocurrió el {{moment-format m.fechaDelHecho 'DD/MM/YYYY'}} en {{m.localidad}}, {{m.provincia}}</p>
          {{presentes-ui/boton texto="Ver ficha" accion=(transition-to "app.casos.detalle" m.id) primario=true}}
        {{/popup-layer}}
      {{/marker-layer}}
    {{/each}}
{{/leaflet-map}}
