{{yield}}
<section class="tc pa2 pa3-ns">
  <article class="hide-child relative ba b--black-20 mw7 center bg-white gray br3">

    <h2 class="f4 db link gray pb0 mb0">{{perfil.nombre}} {{perfil.apellido}}</h2>
    <p class="f6 db link gray pt0 mt1">({{perfil.usuario}})</p>

    <div class="pa2 bt b--black-20 bg-white br3 tl">
      <p class="pl7 f6 db link black"><i class="fas fa-envelope black"></i> {{perfil.email}}</p>

    </div>
  </article>
</section>
