<button {{action accion model}} class="{{if primario 'bg-blue white hover-bg-dark-blue' 'bg-white blue hover-bg-near-white'}} outline-0 ba bg-animate hover-b--dark-blue b--blue br2 pa2 min-w4 pointer button {{class}} asap">{{etiqueta}}{{yield}}</button>
