
{{#presentes-ui/formulario
  tarea=submit
  model=(changeset modelo validaciones) as |f|}}

  {{#f.personalizado etiqueta="Categoría" name="categoria" as |i|}}
    {{presentes-selector/simple-select
      tarea=categorias
      optionLabel="nombre"
      valor=i.value
      disabled=false
      cuandoSelecciona=i.update}}
  {{/f.personalizado}}

  <h2>Datos generales de la víctima</h2>
  {{f.input etiqueta="Nombre" atributo="nombre"}}
  {{f.input etiqueta="Apellido" atributo="apellido"}}

  {{#f.personalizado etiqueta="Fecha del hecho" name="fechaDelHecho" as |fi|}}
      {{presentes-ui/input-fecha
          valor=fi.value
          cuandoCambia=fi.update}}
    {{/f.personalizado}}

  {{f.input etiqueta="Localidad" atributo="localidad"}}

  {{#f.personalizado etiqueta="Provincia" name="provincia" as |i|}}
    {{presentes-selector/simple-select
      tarea=provincias
      optionLabel="nombre"
      valor=i.value
      disabled=false
      cuandoSelecciona=i.update}}
  {{/f.personalizado}}

  <div class="flex w-100">
      {{f.input etiqueta="Latitud" atributo="latitud" valor=lat}}
      {{f.input etiqueta="Longitud" atributo="longitud" valor=lon}}
  </div>

  <label for="gmap-parser">Ingrese url de Gmap:</label>
  <input name="gmap-parser" value={{url}} oninput={{action "parseURL" value="target.value"}}>


  {{f.input etiqueta="Edad" atributo="edad"}}
  {{f.input etiqueta="Lugar de nacimiento" atributo="lugarDeNacimiento"}}

  {{f.input etiqueta="Causa de la muerte" atributo="causaDeLaMuerte"}}

  {{#f.personalizado etiqueta="¿Es migrante?" name="esMigrante" as |i|}}
    {{presentes-selector/simple-select
      tarea=opcionesSiNo
      optionLabel="nombre"
      valor=i.value
      disabled=false
      cuandoSelecciona=i.update}}
  {{/f.personalizado}}

  {{#f.personalizado etiqueta="Estado de publicación" name="estadoDePublicacion" as |i|}}
    {{presentes-selector/simple-select
      tarea=estadosDePublicacion
      optionLabel="nombre"
      valor=i.value
      disabled=false
      cuandoSelecciona=i.update}}
  {{/f.personalizado}}

  {{#f.botones as |botones|}}
    {{botones.secundario etiqueta="Cancelar" class="fr" accion=(transition-to "app.casos")}}
    {{botones.separador}}
    {{botones.primario etiqueta=etiqueta accion=f.submit}}
  {{/f.botones}}

{{/presentes-ui/formulario}}
