{{#presentes-ui/formulario
  tarea=submit
  model=(changeset modelo validaciones) as |f|}}

  <h2>Datos generales</h2>
  {{f.input etiqueta="Nombre" atributo="nombre"}}
  {{f.input etiqueta="Referente (solo activistas)" atributo="referente"}}
  {{f.input etiqueta="Teléfono de contacto" atributo="telefono"}}
  {{f.input etiqueta="Email" atributo="email"}}
  {{f.input etiqueta="Dirección" atributo="direccion"}}
  {{f.input etiqueta="Localidad" atributo="localidad"}}

  {{#f.personalizado etiqueta="Provincia" name="provincia" as |i|}}
    {{presentes-selector/simple-select
      tarea=provincias
      optionLabel="nombre"
      valor=i.value
      disabled=false
      cuandoSelecciona=i.update}}
  {{/f.personalizado}}

  <div class="flex w-100">
      {{f.input etiqueta="Latitud" atributo="latitud" valor=lat}}
      {{f.input etiqueta="Longitud" atributo="longitud" valor=lon}}
  </div>
  <span class="gray">IMPORTANTE: Sólo completar Latitud y Longitud si al guardar el formulario no se puede encontrar la dirección automáticamente</span>

  {{f.textarea etiqueta="Descripción de su especificidad" atributo="descripcion"}}

  <h2>Redes</h2>

  {{f.input etiqueta="Website" atributo="website"}}
  {{f.input etiqueta="Facebook" atributo="facebook"}}
  {{f.input etiqueta="Twitter" atributo="twitter"}}
  {{f.input etiqueta="Instagram" atributo="instagram"}}
  {{f.input etiqueta="YouTube" atributo="youtube"}}

  {{#f.botones as |botones|}}
    {{botones.secundario etiqueta="Cancelar" class="fr" accion=(transition-to "app.organizaciones")}}
    {{botones.separador}}
    {{botones.primario etiqueta=etiqueta accion=f.submit}}
  {{/f.botones}}

{{/presentes-ui/formulario}}
